<div class="card bg-base-100 shadow-xl "> 
    <figure class="size-60 w-60">
        <div class="skeleton w-60 -mt-32 h-64"></div>
    </figure>

    <div class="card-body max-w-60">
      <h2 class="card-title"></h2>

      <div>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
      
      <form action="">
        <div class="card-actions justify-end">
          <button type="submit"
              class="inline-flex cursor-pointer items-center justify-center rounded-xl border-none bg-gradient-to-r from-fuchsia-600 to-indigo-600 px-4 py-2.5 text-sm font-semibold text-white transition duration-200 hover:bg-gradient-to-r hover:from-fuchsia-600 hover:to-indigo-500 focus:outline-none focus:ring-2 focus:ring-orange-400/80 focus:ring-offset-0 disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"
            >
              
            </button>
        </div>
      </form>
    </div>
</div>
