<div class="relative flex h-screen flex-col bg-transparent overflow-hidden ">
    <div class="layout-container flex h-full grow flex-col">
      <div class="px-5 md:px-32 flex flex-1 justify-center py-5 h-full ">
        <div class="layout-content-container flex flex-col max-w-[2010px] h-full flex-1">
            <!--Page heading-->
            <div class="flex items-center justify-between md:mx-10 mb-5">
                <div class="text-white text-center font-bold text-2xl"><p>My Clubs</p></div>
                <div>
                    <button  class="btn" routerLink="/socialclubcreate">
                      <a >Create club</a>
                    </button>
                </div>
            </div>

              <div class="overflow-y-auto h-full flex flex-col gap-10">
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
                <app-social-club-listing-card></app-social-club-listing-card>
              </div>
            
        </div>
      </div>
    </div>
  </div>


<!-- <div class="rotating-text">
  <p>CSS Animation is</p>
  <p>
    <span class="word alizarin">awesome.</span>
    <span class="word wisteria">beautiful.</span>
    <span class="word peter-river">creative.</span>
    <span class="word emerald">fabulous.</span>
    <span class="word sun-flower">interesting.</span>
  </p>
</div> -->
  
