<div class="relative flex h-screen flex-col bg-transparent overflow-x-hidden">
    <div class="layout-container flex h-full grow flex-col">
      <div class=" px-5 md:px-32 flex flex-1 justify-center py-5 h-full">
        <div class="layout-content-container flex flex-col max-w-[2010px] flex-1 h-full">
            <!--Page heading-->
            <div class="flex items-center justify-between mb-6 md:mx-10">
                <div class="text-white text-center font-bold text-3xl"><p>Delete [Social club name] Club</p></div>
            </div>

            <div class="flex flex-col items-center justify-center h-full">
                <div>
                    [Delete animation]
                </div>

                <p class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4">
                    This action is permanent and can't be undone. All club members and event history will be deleted.
                </p>

                <p class="text-white text-base text-center font-normal leading-normal pb-3 pt-1 px-4">
                    Are you sure you want to delete [Social club name] club?
                </p>

                <div class="flex justify-between mt-auto mb-10 w-full md:px-96">
                    <button class="btn btn-success">Cancel</button>
                    <button class="btn btn-success">Delete Club</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
