<div class="container mx-auto p-6 mt-10 relative bg-base-100 shadow-lg rounded-lg">
  <!-- Main Bubble Indicator for Total Attendees -->
  <div class="absolute top-0 right-0 mt-4 mr-4 z-20"> <!-- Added z-index here -->
    <div class="bg-accent text-center text-base-100 text-sm font-bold rounded-full h-20 w-20 flex items-center justify-center relative shadow-md">
      {{ rsvpedEmployees.length }} guests
  
      <!-- Larger Bubble -->
      <div class="absolute top-0 right-0 bg-accent shadow-lg rounded-full h-8 w-8 flex items-center justify-center text-xs font-bold">
        <!-- Add larger bubble content here if needed -->
      </div>

      <!-- Smaller Bubble -->
      <div class="absolute bottom-0 right-0 bg-accent shadow-lg rounded-full h-6 w-6 flex items-center justify-center text-xs font-bold">
        <!-- Add smaller bubble content here if needed -->
      </div>
    </div>
  </div>

  <!-- Page Heading -->
  <h1 class="text-3xl md:text-center font-bold text-primary mb-6 text-left">Attendees</h1>

  <!-- Table of RSVPed Employees -->
  <div class="overflow-x-auto relative z-10"> <!-- Added z-index here -->
    <table class="table w-full">
      <thead class="bg-secondary text-base-100">
        <tr>
          <th class="py-4 px-6">#</th>
          <th class="py-4 px-6">Name</th>
          <th class="py-4 px-6">Surname</th>
          <th class="py-4 px-6 hidden md:table-cell">Email</th>
          <th class="py-4 px-6 text-center hidden md:table-cell">Status</th>
          <th class="py-4 px-6 text-center hidden md:table-cell">Last Updated</th>
          <th class="py-4 px-6 text-center hidden md:table-cell">Profile</th>
          <th class="py-4 px-6 text-center hidden md:table-cell">Actions</th>
          <th class="py-4 px-6 text-center md:hidden">More</th>
        </tr>
      </thead>
      <tbody class="bg-base-100">
        <ng-container *ngFor="let employee of rsvpedEmployees; let i = index">
          <tr class="hover:bg-neutral border-b border-neutral">
            <th class="py-4 px-6">{{ i + 1 }}</th>
            <td class="py-4 px-6">{{ employee.name }}</td>
            <td class="py-4 px-6">{{ employee.surname }}</td>
            <td class="py-4 px-6 hidden md:table-cell">{{ employee.email }}</td>
            <td class="py-4 px-6 text-center hidden md:table-cell">{{ employee.status }}</td>
            <td class="py-4 px-6 text-center hidden md:table-cell">{{ employee.lastUpdated | date:'short' }}</td>
            <td class="py-4 px-6 text-center hidden md:table-cell">
              <a [routerLink]="['/profile', employee.id]" 
                 class="text-accent hover:underline"
                 [ngClass]="{'text-neutral': employee.status === 'Canceled'}">View Profile</a>
            </td>
            <td class="py-4 px-6 text-center hidden md:table-cell">
              <button [disabled]="employee.status === 'Canceled'" (click)="removeEmployee(i)" 
                      class="text-error hover:underline"
                      [ngClass]="{'text-neutral': employee.status === 'Canceled'}">Remove</button>
            </td>
            <td class="py-4 px-6 text-center md:hidden">
              <button (click)="toggleDetails(i)" class="text-accent hover:underline">
                <span *ngIf="!employee.showDetails">+</span>
                <span *ngIf="employee.showDetails">-</span>
              </button>
            </td>
          </tr>

          <!-- Additional info for mobile view -->
          <tr *ngIf="employee.showDetails && !isDesktop" class="bg-neutral md:hidden">
            <td colspan="2" class="py-4 px-6">
              <div>
                <p class="text-base-100"><strong>Email:</strong> {{ employee.email }}</p>
                <p class="text-base-100"><strong>Status:</strong> {{ employee.status }}</p>
                <p class="text-base-100"><strong>Last Updated:</strong> {{ employee.lastUpdated | date:'short' }}</p>
                <div class="flex space-x-4 mt-2">
                  <a [routerLink]="['/profile', employee.id]" 
                     class="text-accent hover:underline"
                     [ngClass]="{'text-neutral': employee.status === 'Canceled'}">View Profile</a>
                  <button [disabled]="employee.status === 'Canceled'" 
                          (click)="removeEmployee(i)" 
                          class="text-error hover:underline"
                          [ngClass]="{'text-neutral': employee.status === 'Canceled'}">Remove</button>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
