<div class="container mx-auto p-6 mt-10">
  <h1 class="text-3xl font-bold text-primary mb-6 text-center">RSVPd Employees</h1>

  <div class="overflow-x-auto">
    <table class="min-w-full rounded-lg shadow-lg">
      <thead class="bg-secondary text-neutral">
        <tr>
          <th class="py-3 px-6 text-left">Name</th>
          <th class="py-3 px-6 text-left">Surname</th>
          <th class="py-3 px-6 text-left">Email</th>
          <th class="py-3 px-6 text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of rsvpedEmployees; let i = index" class="border-b border-secondary hover:bg-primary">
          <td class="py-4 px-6">{{ employee.name }}</td>
          <td class="py-4 px-6">{{ employee.surname }}</td>
          <td class="py-4 px-6">{{ employee.email }}</td>
          <td class="py-4 px-6 text-center">
            <button (click)="removeEmployee(i)" class="btn btn-error btn-sm">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
