<div class="container mx-auto p-6 mt-10">
  <div class="container mx-auto p-6 mt-10 relative">
    <!-- Main Bubble Indicator for Total Attendees -->
    <div class="absolute top-0 right-0 mt-4 mr-4">
      <div class="bg-accent text-center text-white text-sm font-bold rounded-full h-20 w-20 flex items-center justify-center relative">
        {{ rsvpedEmployees.length }} guests
  
        <div class="absolute top-0 right-0 bg-accent shadow-lg rounded-full h-8 w-8 flex items-center justify-center text-xs font-bold"></div>

        <div class="absolute bottom-0 right-0 bg-accent shadow-lg rounded-full h-6 w-6 flex items-center justify-center text-xs font-bold"></div>
      </div>
    </div>
  <h1 class="text-2xl md:text-center font-bold text-primary mb-6 text-left">RSVPd Employees</h1>

  <div class="overflow-x-auto">
    <table class="min-w-full rounded-lg shadow-lg">
      <thead class="bg-secondary text-neutral">
        <tr>
          <th class="py-3 px-6 text-left">Name</th>
          <th class="py-3 px-6 text-left">Surname</th>
          <th class="py-3 px-6 text-left hidden md:table-cell">Email</th>
          <th class="py-3 px-6 text-center hidden md:table-cell">Profile</th> <!-- New column header -->
          <th class="py-3 px-6 text-center hidden md:table-cell">Actions</th>
          <th class="py-3 px-6 text-center md:hidden">More</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let employee of rsvpedEmployees; let i = index">
          <tr class="border-b border-secondary hover:bg-primary">
            <td class="py-4 px-6">{{ employee.name }}</td>
            <td class="py-4 px-6">{{ employee.surname }}</td>
            <td class="py-4 px-6 hidden md:table-cell">{{ employee.email }}</td>
            <td class="py-4 px-6 text-center hidden md:table-cell">
              <a [routerLink]="['/profile', employee.id]" class="btn btn-info btn-sm">View Profile</a> 
            </td>
            <td class="py-4 px-6 text-center hidden md:table-cell">
              <button (click)="removeEmployee(i)" class="btn btn-error btn-sm">Remove</button>
            </td>
            <td class="py-4 px-6 text-center md:hidden">
              <button (click)="toggleDetails(i)" class="btn btn-primary btn-sm">
                <span *ngIf="!employee.showDetails">+</span>
                <span *ngIf="employee.showDetails">-</span>
              </button>
            </td>
          </tr>

          <!-- Additional info for mobile view -->
          <tr *ngIf="employee.showDetails && !isDesktop" class="border-b border-secondary md:hidden">
            <td colspan="2" class="py-4 px-6">
              <div class="text-left">
                <p><strong>Email:</strong> {{ employee.email }}</p>
                <div class="flex space-x-2">
                  <a [routerLink]="['/profile', employee.id]" class="btn btn-info btn-sm">View Profile</a>
                  <button (click)="removeEmployee(i)" class="btn btn-error btn-sm">Remove</button>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
