
<div class="flex gap-4 bg-transparent px-4 py-3">
    <div class="avatar">
        <div class="w-44 rounded-xl">
          <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
    </div>
    
    <div class="flex flex-1 flex-col justify-center">
      <p class="victor-mono-normal uppercase tracking-wide text-accent font-semibold text-base">Host Name</p>
      <p class="cutive-mono-regular text-[#93adc8] text-sm font-normal ">Host Email</p>
      <p class="cutive-mono-regular text-[#93adc8] text-sm font-normal ">Host clubs</p>
    </div>

    <div class="flex flex-col justify-center">
        <button onclick="my_modal_1.showModal()" class="cutive-mono-regular cursor-pointer flex h-8 shrink-0 items-center justify-center font-semibold text-white text-sm border-none rounded-xl bg-gradient-to-r from-accent to-secondary pl-4 pr-4 transition duration-200 hover:bg-gradient-to-r hover:from-accent hover:to-accent disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"> 
            View Clubs
        </button>
    </div>
    <dialog id="my_modal_1" class="modal">
        <div class="flex flex-col bg-[#243647] rounded-lg gap-10 px-10">
            <div>
                <h3 class="lexend-deca-extraLight justify-center font-bold">[Host name]'s social clubs</h3>
            </div>
            
            <div class="flex flex-row gap-4">
              <app-search-social-club-card></app-search-social-club-card>
            </div>
          <div class="modal-action">
            <form method="dialog">
              <!-- if there is a button in form, it will close the modal -->
              <button class="btn">Done</button>
            </form>
          </div>
        </div>
    </dialog>
</div>
 





