
<div *ngIf="isLoading; else content">
    <div class="flex justify-end mt-4 mb-4">
        <button class="btn btn-outline btn-primary" routerLink="/createevent">
            <a >Create event</a>
        </button>
    </div>
    <app-my-events-card-skeleton></app-my-events-card-skeleton>
    <app-my-events-card-skeleton></app-my-events-card-skeleton>
    <app-my-events-card-skeleton></app-my-events-card-skeleton>
    <app-my-events-card-skeleton></app-my-events-card-skeleton>
    <app-my-events-card-skeleton></app-my-events-card-skeleton>
    <app-my-events-card-skeleton></app-my-events-card-skeleton>

</div>

<ng-template #content>
    <div>
        <div class="flex justify-end mt-4">
            <button class="btn btn-outline btn-primary" routerLink="/createevent">
                <a >Create event</a>
            </button>
        </div>
        <div class="mt-4">
            <app-my-events-card   
            *ngFor="let event of events"
            [eventID]="event.eventId"
            [ID]="event.eventId"
            [eventString]="event.eventId +'/'"
            [eventTitle]="event.title"></app-my-events-card>
        </div>
    </div>
</ng-template>
