<div class="card max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl shadow-xl size-full"> 
    <div class="md:flex">
      <div class="md:shrink-0">
        <img class="h-full w-48 object-cover md:h-72 md:w-72" [src]="imageSource" alt="Album"/>
      </div>
  
      
      <div class="card-body">
        <h2 class="card-title victor-mono-normal uppercase tracking-wide text-sm text-accent font-semibold">{{ eventTitle }}</h2>
  
        <div>
          <p class="cutive-mono-regular">{{ hostName }}</p>
          <p class="cutive-mono-regular">{{ hostEmail }}</p>
          <p class="cutive-mono-regular">{{ startDate | date:'dd MMM' }} - {{ endDate | date:'dd MMM' }}</p>
          <p class="cutive-mono-regular">{{ formattedStartTime }} - {{ formattedEndTime }}</p>      
        </div>
        
        <form action="">
          <div class="card-actions mt-5 justify-center">
            <button type="submit"[routerLink]="['/event', eventID]"
                class=" cursor-pointer rounded-xl border-none bg-gradient-to-r from-accent to-secondary px-4 py-2.5 text-sm font-semibold text-white transition duration-200 hover:bg-gradient-to-r hover:from-accent hover:to-accent focus:outline-none focus:ring-2 focus:ring-orange-400/80 focus:ring-offset-0 disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"
              >
                See Details
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  