<!-- LOGIN Home -->
<form class="card-body"  (submit)="onChange($event)" [formGroup]="registerForm" class="">
    <div class="flex  items-center justify-center ">
      <div class="relative">
        
    <div class="hidden sm:block h-56 w-56 text-indigo-300 absolute a-z-10 -left-20 -top-20">
       <svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(0.6) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='none'/><path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5'  stroke-width='1' stroke='none' fill='currentColor'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(#a)'/></svg>
      </div>
    <div class="hidden sm:block h-28 w-28 text-indigo-300 absolute a-z-10 -right-20 -bottom-20">
       <svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='b' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(0.5) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='none'/><path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5'  stroke-width='1' stroke='none' fill='currentColor'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(#b)'/></svg>
      </div>
        <!-- Register -->
        <div class="relative flex flex-col sm:w-[30rem] rounded-lg border-gray-400 bg-base-200 shadow-lg px-4">
          <div class="flex-auto p-6">
            <!-- Logo -->
            <div class="mb-10 flex flex-shrink-0 flex-grow-0 items-center justify-center overflow-hidden">
              <a href="#" class="flex cursor-pointer items-center gap-2 text-white no-underline hover:text-indigo-500">
                <span class="flex-shrink-0 text-3xl font-black tracking-tight opacity-100 text-primary">Reset Password</span>
              </a>
            </div>
            <!-- /Logo -->
            <h4 class="mb-2 font-medium text-secondary xl:text-xl text-center">Enter a new password below!</h4>
    
            <!-- Password -->
            <div  class="mt-8">
                <label htmlFor="password" class="block text-sm font-semibold text-heading text-slate-400">
                Password
                </label>
                <div class="relative inline-flex w-full max-w-md">
                <input
                    id="password1"
                    type="password"
                    [formControl]="passwordControl2"
                    class="input input-bordered max-w-md w-full transition duration-300 ease-in"
                    required
                    [ngClass]="{'input-error': passwordControl2.invalid && (passwordControl2.dirty || passwordControl2.touched), 'input-success': passwordControl2.valid}"
                />
                <i [class]="hidePassword1 ? 'cursor-pointer absolute right-2 top-[40%] fas fa-eye' : 'cursor-pointer absolute right-2 top-[40%] fas fa-eye-slash'" (click)="togglePasswordVisibility1()"></i>
                </div>
                <div *ngIf="passwordControl2.invalid && (passwordControl2.dirty || passwordControl2.touched)" class="text-red-500 text-sm mt-1">
                Password is required
                </div>
                <!-- Indicators -->
                <div class="mt-2 transition duration-300 ease-in">
                  <div class="transition duration-300 ease-in" [class.text-red-500]="!hasMinLength()" [class.text-green-500]="hasMinLength()" [class.line-through]="hasMinLength()">
                    8 - 20 characters
                  </div>
                  <div class="transition duration-300 ease-in" [class.text-red-500]="!hasUppercase()" [class.text-green-500]="hasUppercase()" [class.line-through]="hasUppercase()">
                    One Uppercase letter
                  </div>
                  <div class="transition duration-300 ease-in" [class.text-red-500]="!hasLowercase()" [class.text-green-500]="hasLowercase()" [class.line-through]="hasLowercase()">
                    One Lowercase letter
                  </div>
                  <div class="transition duration-300 ease-in" [class.text-red-500]="!hasSymbol()" [class.text-green-500]="hasSymbol()" [class.line-through]="hasSymbol()">
                    ONLY symbols from &#64;, *, $, !, #, &
                  </div>
                </div>
            </div>
            <!-- Confirm Password -->
            <div class="mt-8">
                <label htmlFor="confirmPassword" class="block text-sm font-semibold text-heading text-slate-400">
                Confirm Password
                </label>
                <div class="relative inline-flex w-full max-w-md">
                <input
                    id="password2"
                    type="password"
                    [formControl]="passwordControl3"
                    class="input input-bordered max-w-md w-full transition duration-300 ease-in"
                    required
                    [ngClass]="{
                    'input-error': passwordControl3.invalid && (passwordControl3.dirty || passwordControl3.touched) || passwordMismatchError, 
                    'input-success': passwordControl3.valid && !passwordMismatchError
                    }"
                />
                <i [class]="hidePassword2 ? 'cursor-pointer absolute right-2 top-[40%] fas fa-eye' : 'cursor-pointer absolute right-2 top-[40%] fas fa-eye-slash'" (click)="togglePasswordVisibility2()"></i>
                </div>
            
                <div *ngIf="passwordControl3.errors?.['required'] && (passwordControl3.dirty || passwordControl3.touched)" class="text-red-500 text-sm mt-1">
                Confirm Password is required
                </div>
                <div *ngIf="passwordMismatchError" class="text-red-500 text-sm mt-1">
                Passwords do not match
                </div>
            </div>
              <div class="mb-4">
                <button [disabled]="registerForm.invalid" class="btn btn-outline w-full mt-16" type="submit" >
                  Reset Password</button>
              </div>
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
    
  </form>


  <div class="toast" *ngIf="isAPILoading">
    <div class="alert alert-info flex justify-center">
      <span class="loading loading-dots loading-md"></span>
    </div>
  </div>
  
  
  <div class="toast" *ngIf="showresetsuccessToast">
    <div class="alert alert-success">
      <span>reset successful Redirecting...</span>
    </div>
  </div>
  
  <div class="toast" *ngIf="showresetfailToast">
    <div class="alert alert-error">
      <span>Error resetting password</span>
    </div>
  </div>