<div class="card lg:card-side bg-base-200 shadow-xl sm:h-72">
  <img class="rounded-t-2xl h-56 sm:h-72 md:w-80 sm:rounded-l-2xl sm:rounded-r-none object-cover" [src]="imageSource" alt="Social Club profile" />

  <div class="card-body">
    <div class="flex flex-1 flex-col justify-center static">
      <p class="font-karla tracking-wide text-accent font-bold text-xl mb-5">{{ eventTitle }}</p>
      <p class="font-roboto text-secondary text-sm font-normal lg:w-4/5 text-wrap mb-1.5">{{ Description }}</p>
      <!-- <p class="font-roboto text-[#93adc8] text-base font-normal mb-1.5">20 members</p> -->
      <div class="flex gap-3 p-3 flex-wrap ">
        <!-- <app-tag></app-tag> -->
      </div>
    </div>

    <div class="card-actions flex flex-wrap justify-center md:justify-end md:absolute md:bottom-0 md:right-0 md:mb-8 md:mr-8 gap-2">
      <button [routerLink]="['/hostcheckin', eventID]" class="btn btn-accent btn-outline">        
        Check In
      </button>
      <button [routerLink]="['/event', eventID]" class="btn btn-accent btn-outline"> 
        Preview
      </button>
      <button [routerLink]="['/updateevent', eventID]" class="btn btn-accent btn-outline"> 
        Edit
      </button>
      <button [routerLink]="['/deleteevent', eventID]" class="btn btn-error btn-outline"> 
        Delete
      </button>
    </div>
  </div>
  </div>
