<div class="flex gap-4 bg-transparent px-4 py-3">
    <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-[70px]">
        <img src="" alt="event image">
    </div>
    
    <div class="flex flex-1 flex-col justify-center">
      <p class="victor-mono-normal uppercase tracking-wide text-accent font-semibold text-base">Event title</p>
      <p class="cutive-mono-regular text-[#93adc8] text-sm font-normal ">Event description</p>
      <p class="cutive-mono-regular text-[#93adc8] text-sm font-normal ">Event date and time</p>
    </div>

    <div class="flex flex-col justify-center">
        <button class="cutive-mono-regular flex h-8 shrink-0 items-center justify-center text-sm rounded-xl bg-[#243647] pl-4 pr-2"> View More</button>
        <button class="cutive-mono-regular flex h-8 mt-3 shrink-0 items-center justify-center text-sm rounded-xl bg-[#243647] pl-4 pr-2"> Subscribe!</button>
    </div>
  </div>
