<div class="relative flex flex-col bg-base-100 overflow-hidden">
    <div class="layout-container flex grow flex-col">
      <div class="px-5 md:px-56 flex flex-1 justify-center py-5 ">
        <div class="layout-content-container flex flex-col max-w-[2010px] flex-1">
            <!--Page heading-->
            <div class="flex items-center justify-center md:mx-10 mb-5">
                <div class="font-poppins text-center text-secondary font-extrabold text-2xl md:text-3xl mb-2">
                  <p>Our Clubs</p>
                </div>
            </div>

            <div class="flex items-center justify-center">
              <!--Search bar-->
              <div class="px-4 py-3 md:w-[1010px] mb-5 flex flex-col gap-5 font-roboto">
                <label class="flex flex-col min-w-40 h-12 w-full">
                  <div class="flex w-full flex-1 items-stretch rounded-xl h-full">
                    <div class="text-[#93adc8] flex border-none bg-base-200 items-center justify-center pl-4 rounded-l-xl border-r-0">
                      <div class="fa-solid fa-magnifying-glass"></div>
                    </div>
                    <input (input)="updateSearchTerm($event)" placeholder="Search clubs by name, and creator... "  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl focus:outline-0 focus:ring-0 border-none bg-base-200 focus:border-none h-full placeholder:text-[#93adc8] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal" />
                  </div>
                </label>
              </div>
            </div>
              <div *ngIf="isApiLoading else content">
                <div class=" flex flex-wrap gap-10">
                  <app-social-club-card-skeleton></app-social-club-card-skeleton>
                  <app-social-club-card-skeleton></app-social-club-card-skeleton>
                  <app-social-club-card-skeleton></app-social-club-card-skeleton>
                  <app-social-club-card-skeleton></app-social-club-card-skeleton>

                  <app-social-club-card-skeleton></app-social-club-card-skeleton>
                  <app-social-club-card-skeleton></app-social-club-card-skeleton>
                  <app-social-club-card-skeleton></app-social-club-card-skeleton>
                  <app-social-club-card-skeleton></app-social-club-card-skeleton>
                </div>
              </div>


              <ng-template #content>
                <div class=" flex flex-wrap gap-10">
                  <app-social-club-card
                  *ngFor="let club of filteredSocialClubs"
                  [socialClubName]="club.name"
                  [socialClubID]="club.id"
                  [socialClubDescription]="club.description"></app-social-club-card>
                </div>
              </ng-template>

        </div>
      </div>
    </div>
  </div>
  
