<div>
    <div class="mx-auto text-center">
      <ul class="steps lg:text-md text-sm">
        <li [class.step-primary]="currentStep >= 0" class="step cursor-pointer" (click)="navigateToStep(0)">Name</li>
        <li [class.step-primary]="currentStep >= 1" class="step cursor-pointer" (click)="navigateToStep(1)">Description</li>
        <li [class.step-primary]="currentStep >= 2" class="step cursor-pointer" (click)="navigateToStep(2)">Details</li>
        <li [class.step-primary]="currentStep >= 3" class="step cursor-pointer" (click)="navigateToStep(3)">Summary</li>
      </ul>
  </div>
  
    <div [ngSwitch]="currentStep">
      <button class="btn w-[50px] -mt-12 lg:ml-8 h-[30px] rounded-full"(click)="goBack()"><i class="fa-solid fa-arrow-left"></i></button>
        <!-- name -->
      <div class="flex justify-center items-center">
        <div *ngSwitchCase="0" class="mt-8" [@fadeInOut]>
          <h1 class="lg:text-6xl text-4xl text-center ">Name your series</h1>
          <div class="tooltip tooltip-open tooltip-error mb-4"  [class.hidden]="!isNameEmpty" data-tip="please enter a Title">
          </div>
            <input #snameInput type="text" placeholder="Type here" class="input input-bordered w-full max-w-xl text-lg h-12 mt-8" required/>
  
            <div class="flex justify-between mt-4">
            <button class="btn btn-outline btn-warning" [disabled]="currentStep === 0">Back</button>
            <button (click)="nextStep()" class="btn btn-success">Next</button>
          </div>
         
        </div>
      </div>
      <!-- description -->
      <div class="flex justify-center items-center">
        <div class="flex flex-col items-center mt-8" *ngSwitchCase="1" [@fadeInOut]>
          <div>
            <h1 class="lg:text-6xl text-4xl font-karla">What's it about?</h1>
            <div>
              <div class="tooltip tooltip-open tooltip-error lg:ml-8 ml-4 -mb-4 font-roboto"
                [class.hidden]="!isDescriptionEmpty" data-tip="Please enter a Description">
              </div>
              <textarea #sdescriptionInput class="textarea textarea-bordered w-full h-44 mt-4 font-roboto"
                placeholder="Description" required></textarea>
            </div>
            <div class="tooltip mt-12" data-tip="Generate potential descriptions based on your series title">
              <button (click)="suggestseriesDescriptions()" class="btn btn-outline btn-accent ml-2 w-96">
                <ng-container *ngIf="!isLoading; else loading">
                  <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                </ng-container>
                <ng-template #loading>
                  <span class="loading loading-dots loading-md"></span>
                </ng-template>
              </button>
              <button (click)="clearseriesDescription()" [disabled]="!isseriesDescriptionSelected" class="btn btn-outline btn-error mt-4 ml-2">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
  
            </div>
          </div>
      
          <!-- Generated descriptions -->
          <div *ngIf="generatedseriesDescriptions.length > 0" class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-4">
            <div *ngFor="let desc of generatedseriesDescriptions" class="p-4 border border-neutral rounded-lg cursor-pointer hover:bg-neutral hover:border-accent transition-all duration-300 ease-in-out"  @fadeIn (click)="selectseriesDescription(desc)">
              {{ desc }}
            </div>
          </div>
          <div class="flex justify-between mt-4 w-full">
            <button (click)="previousStep()" class="btn btn-outline btn-warning font-roboto"
              [disabled]="currentStep === 0">Back</button>
            <button (click)="nextStep1()" class="btn btn-success font-roboto">Next</button>
          </div>
        </div>
      </div>
      <!-- events -->
      <div class="flex justify-center items-center">
        <div *ngSwitchCase="2" [@fadeInOut]>
          <h1 class="lg:text-6xl text-4xl text-center mt-8">Add some events!</h1>
          <div class="flex justify-end items-center mt-8 lg:mr-0 mr-2">
            <button class="btn btn-success btn-outline " routerLink="/createevent">Create New Event</button>
          </div>
            <!-- events table -->
            <div class="overflow-x-auto mt-8">
              <table class="table">
                <!-- head -->
                <thead>
                  <tr>
                    <th>
                      <label>
                        <input type="checkbox" class="checkbox checkbox-accent" [checked]="allEventsSelected" (change)="onSelectAllChange($event)" />
                      </label>
                    </th>
                    <th>Name</th>
                    <th>Social club</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let event of events" (click)="onRowClick(event.eventId)" class="cursor-pointer hover:bg-neutral transition-colors duration-400">
                    <th>
                      <label>
                        <input type="checkbox" class="checkbox checkbox-accent" [checked]="isEventSelected(event.eventId)" (change)="onEventSelectionChange($event, event.eventId)" />
                      </label>
                    </th>
                    <td>
                      <div class="flex items-center gap-3">
                        <div>
                          <div class="font-bold">{{ event.title }}</div>
                          <div class="text-sm opacity-50">{{ event.location }}</div>
                        </div>
                      </div>
                    </td>
                    <td>{{ event.socialClubName }}</td>
                    <th>
                      <button class="btn btn-ghost btn-xs" [routerLink]="['/event', event.eventId]" (click)="$event.stopPropagation()">details</button>
                    </th>
                  </tr>
                </tbody>
                <!-- foot -->
                <tfoot>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Social club</th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>
            </div>
          <div class="flex justify-between mt-4">
            <button (click)="previousStep()" class="btn btn-outline btn-warning" [disabled]="currentStep === 0">Back</button>
            <div>
              <div class="tooltip tooltip-open tooltip-error lg:mt-0 lg:ml-0 ml-4 mb-5"  [class.hidden]="!isstep2Empty" data-tip="empty input(s)">
              </div>
              <button (click)="nextStep2()" class="btn btn-success">Next</button>
            </div>
          </div>
        </div>
      </div>  
      <!-- summary  -->
      <div class="flex justify-center items-center">
        <div *ngSwitchCase="3" [@fadeInOut]>
          <h1 class="lg:text-6xl text-4xl text-center mt-8">Let's Summarize</h1>
          <div class="mx-auto w-1/2">
            <div class="label mt-4 flex justify-center">
              <span class="label-text">Title</span>
            </div>
            <input disabled #snameInput type="text" placeholder="Type here" class="input input-bordered w-full max-w-xl text-lg h-12" required/>
          </div>
  
          <div class="label mt-4 flex justify-center">
            <span class="label-text">Description</span>
          </div>
          <textarea disabled #sdescriptionInput class="textarea textarea-bordered w-full h-44" placeholder="Bio"required></textarea>  
          <div class="label mt-4 flex justify-center">
            <span class="label-text">Events</span>
          </div>  
            <!-- events table -->
            <div class="overflow-x-auto">
              <table class="table">
                <!-- head -->
                <thead>
                  <tr>
                    <th>
                      <label>
                        <input type="checkbox" class="checkbox checkbox-accent" [checked]="allEventsSelected" (change)="onSelectAllChange($event)" />
                      </label>
                    </th>
                    <th>Name</th>
                    <th>Social club</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let event of events" (click)="onRowClick(event.eventId)" class="cursor-pointer hover:bg-neutral transition-colors duration-400">
                    <th>
                      <label>
                        <input type="checkbox" class="checkbox checkbox-accent" [checked]="isEventSelected(event.eventId)" (change)="onEventSelectionChange($event, event.eventId)" />
                      </label>
                    </th>
                    <td>
                      <div class="flex items-center gap-3">
                        <div>
                          <div class="font-bold">{{ event.title }}</div>
                          <div class="text-sm opacity-50">{{ event.location }}</div>
                        </div>
                      </div>
                    </td>
                    <td>{{ event.socialClubName }}</td>
                    <th>
                      <button class="btn btn-ghost btn-xs" [routerLink]="['/event', event.eventId]" (click)="$event.stopPropagation()">details</button>
                    </th>
                  </tr>
                </tbody>
                <!-- foot -->
                <tfoot>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Social club</th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>
            </div>
          <div class="flex justify-between mt-4">
            <button (click)="previousStep()" class="btn btn-outline btn-warning" [disabled]="currentStep === 0">back</button>
            <button (click)="presubmit()" class="btn btn-success">Create series</button>
          </div>
          
        </div>
      </div>  
    </div>
  
    <div class="toast" *ngIf="isAPILoading">
      <div class="alert alert-info flex justify-center">
          <span class="loading loading-dots loading-md"></span>
      </div>
    </div>
  
    <div class="toast" *ngIf="showsuccessToast">
      <div class="alert alert-success">
        <span>Series succesfully created Redirecting...</span>
      </div>
    </div>
  
    <div class="toast" *ngIf="showfailToast">
      <div class="alert alert-error">
        <span>error creating series</span>
      </div>
    </div>
    <!-- <button (click)="previousStep()" class="btn btn-warning" [disabled]="currentStep === 0">Back</button>
    <button (click)="nextStep()" class="btn btn-success">Next</button> -->
  </div>