<div class="card max-w-md mx-auto bg-base-300 rounded-xl overflow-hidden md:max-w-2xl shadow-xl size-full"> 
    <div class="md:flex">
      <div class="md:shrink-0">
        <div class="skeleton h-48 w-full  md:h-72 md:w-72"></div>
      </div>
      
      <div class="lg:card-body">
        <h1 class="skeleton lg:card-title mt-4 lg:victor-mono-normal lg:uppercase leading-7  tracking-wide text-base text-accent font-semibold"></h1>
    
        <div class="text-secondary">
          <div class="cutive-mono-regular flex items-center justify-center">
            <div class="skeleton h-4 w-48"></div>
          </div>
          <div class="cutive-mono-regular flex items-center justify-center mt-4">
            <div class="skeleton h-4 w-48"></div>                  
          </div>
          <div class="cutive-mono-regular flex items-center justify-center mt-4">
            <div class="skeleton h-4 w-48"></div>
          </div>
        </div>
        

          <div class="card-actions mt-5 justify-center">
            <button 
                class=" cursor-pointer mb-4 rounded-xl border-none bg-gradient-to-r from-accent to-secondary px-4 py-2.5 text-sm font-semibold text-white transition duration-200 hover:bg-gradient-to-r hover:from-accent hover:to-accent focus:outline-none focus:ring-2 focus:ring-orange-400/80 focus:ring-offset-0 disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80">
                See Details
              </button>
          </div>
      </div>

    </div>
  </div> 