<div class="min-w-full overflow-x-hidden mb-24">
    <!-- skeleton content -->
    <div *ngIf="isLoading">
        <div class="skeleton h-80 min-w-dvw"></div>
        <div class="flex lg:justify-between lg:flex-row flex-col">
            <div>
                <h1 class="skeleton text-6xl lg:ml-64 mt-8 lg:h-14 h-32 w-96"></h1>
                <h2 class="skeleton mt-4 text-4xl lg:ml-64 text-secondary lg:h-8 h-24 lg:w-[700px] w-80"></h2>
            </div>
            <div>
                <div class="card bg-base-100 shadow-xl lg:mt-4 mt-32" id="host">
                    <div class="card-body">
                      <h2 class="card-title skeleton lg:h-8 h-14 w-64 -ml-2"></h2>
                      <p class="skeleton lg:h-8 h-24 lg:w-[200px] w-80-ml-4"></p>
                      <div class="card-actions justify-end">
                        <!-- <button class="btn btn-primary">Find out More</button> -->
                      </div>
                    </div>
                  </div>


            </div>

        </div>
        <div class="flex justify-center align-middle mt-24" id="events">
            <div class=" skeleton w-11/12 h-52">
            </div>
          </div>
        
    </div> 
        <!-- actual content -->
        <div *ngIf="!isLoading && club">
            <div class="hero h-80 min-w-dvw" [style.background-image]="'url(' + imageSource + ')'">  </div>
            <!-- <div class="absolute top-0 left-8"> -->
                <button class="btn w-[50px] -mt-12 lg:ml-8 h-[30px] rounded-full"(click)="goBack()"><i class="fa-solid fa-arrow-left"></i></button>

            <!-- </div> -->

                <!-- title -->
        
                <div class="flex lg:justify-between lg:flex-row flex-col">
                    <div>
                        <h1 class="font-karla text-6xl lg:ml-64 mt-8">{{club.name}}</h1>
                        <h2 class="mt-4 font-roboto text-4xl lg:ml-64 text-secondary" id="descriptiontest">{{club.description}}</h2>
                    </div>
                    <div>
                        <div class="card bg-base-100 shadow-xl lg:mt-4 mt-32" id="host">
                            <div class="card-body">
                                <div *ngIf="ownerName">
                                    <h2 class="card-title font-roboto">Managed by: {{ownerName}} {{ownerSurname}}</h2>
                                  </div>
                              <div class="card-actions justify-end">
                                <button class="btn btn-primary font-roboto"  [routerLink]="['/searchProfile', club.ownerID]">Find out More</button>
                              </div>
                            </div>
                          </div>


                    </div>

                </div>

                <!-- description -->

                <!-- event details -->
                 
                <div class="card bg-base-100 shadow-xl mt-4">
                    <div class="card-body">
                      <!-- <h2 class="card-title font-karla text-4xl flex items-center justify-center mb-6">Subscribe Now!</h2> -->
                      <!-- <div class="flex lg:justify-evenly lg:flex-row flex-col">
                        <div>
                            <p class="lg:text-4xl text-2xl"> <i class="fa-solid fa-user mr-2"></i> {{host.firstName}} {{host.lastName}} </p>
                            <p class="lg:text-4xl text-2xl"><i class="fa-solid fa-location-pin mr-4"></i>{{event.location}}</p>
                        </div>
                        <div>
                            <p class="lg:text-4xl text-2xl"><i class="fa-regular fa-clock mr-2"></i> {{event.startTime}} - {{event.endTime}} </p>
                            <p class="lg:text-4xl text-2xl"><i class="fa-regular fa-calendar-days mr-4"></i>{{event.startDate | date:'d MMM' }} - {{ event.endDate | date:'d MMM'  }} </p>
                        </div>
                    </div> -->
                       <!-- <div class="card-actions justify-center">
                        <button class="btn btn-accent font-roboto" *ngIf="!hasUserRSVPd"  @buttonFade (click)="rsvpToSeries()">Book Now</button>
                        <button class="btn btn-outline font-roboto btn-warning" *ngIf="hasUserRSVPd"  @buttonFade (click)="rsvpToSeries()">Cancel booking</button>

                      </div> -->
                    </div>
                  </div>
            <!-- Preperation details -->
            <div class="mt-28" id="events">
                <h2 class="font-karla font-medium text-4xl flex items-center justify-center" >Club events</h2>
                <div class="flex items-center justify-center mt-6">
                    <div class="flex justify-center items-center">
                        <div class="flex justify-center items-center w-full">
                            <div class="grid md:grid-cols-3 lg:grid-cols-5 grid-cols-1 gap-6">
                                <div *ngIf="isLoading; else content">
                                    <!-- Skeleton screen goes here -->
                                    <app-ghost-event-card></app-ghost-event-card>
                                    <app-ghost-event-card></app-ghost-event-card>
                                    <app-ghost-event-card></app-ghost-event-card>
                                    <app-ghost-event-card></app-ghost-event-card>
                                    <app-ghost-event-card></app-ghost-event-card>
                                    <app-ghost-event-card></app-ghost-event-card>
                                    <app-ghost-event-card></app-ghost-event-card>
                                    <app-ghost-event-card></app-ghost-event-card>
                                </div>
                                <ng-template #content>
                                    <!-- Actual content goes here -->
                                    <app-event-card
                                        *ngFor="let event of events"
                                        [eventID]="event.eventId"
                                        [eventTitle]="event.title"
                                        [description]="event.description"
                                        [startTime]="event.startTime"
                                        [endTime]="event.endTime"
                                        [startDate]="event.startDate"
                                        [endDate]="event.endDate"
                                        [location]="event.location"
                                        [hostedBy]="event.host.firstName + ' ' + event.host.lastName"
                                        [socialClub]="event.socialClub">
                                    </app-event-card>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
