<app-navbar></app-navbar>

<div>
  <main>
    <!--  Hero section -->
    <section class="px-8 pt-6 pb-2 text-center md:py-16">
      <div class="mx-auto max-w-6xl">
        <div class="flex flex-col items-center">
          <p class="mt-6 max-w-3xl text-xl">
            All the fun starts here. 
          </p>

          <h1 class="text-center text-3xl font-semibold text-heading md:max-w-4xl lg:text-5xl xl:text-6xl">
            What's your organisation up to !?
          </h1>

          <p class="mt-6 max-w-3xl text-xl">
          This is your cue to close that laptop and come have fun with us !
          </p>
        </div>

        <!--  This week's events -->
        <div class="mt-12 md:px-10">
          <div class="card w-full bg-base-100 shadow-xl image-full">
            <figure><img src="assets/pexels-rahulp9800-1652361.jpg" alt="event image" /></figure>
            <div class="card-body">
              <h2 class="card-title">Event title</h2>
              <p>Event description</p>
              <div class="card-actions justify-end">
                <button type="submit"
                        class="inline-flex cursor-pointer items-center justify-center rounded-xl border-none bg-gradient-to-r from-fuchsia-600 to-indigo-600 px-4 py-2.5 text-sm font-semibold text-white transition duration-200 hover:bg-gradient-to-r hover:from-fuchsia-600 hover:to-indigo-500 focus:outline-none focus:ring-2 focus:ring-orange-400/80 focus:ring-offset-0 disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"
                      >
                      Check out event!
                      </button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    <!-- {/* Features sections */} -->
    <section class="p-8 md:p-10">
      
      <!--  Upcoming events -->
      <section class="p-4 md:p-10">
        <div class="grid grid-cols-1 gap-6 md:grid-cols-3 bg-red-900"> <!--row 1-->
          <h2 class="card-title">Upcoming events</h2>
          <div class="flex flex-col rounded-3xl bg-layer-2 p-8">
            <div class="card lg:card-side bg-base-100 shadow-xl">
              <figure><img src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg" alt="Album"/></figure>
              <div class="card-body">
                <h2 class="card-title">Event title</h2>
                <p>Event description</p>


                <form action="">
                  <div class="card-actions justify-end">
                    <button type="submit"
                        class="inline-flex cursor-pointer items-center justify-center rounded-xl border-none bg-gradient-to-r from-fuchsia-600 to-indigo-600 px-4 py-2.5 text-sm font-semibold text-white transition duration-200 hover:bg-gradient-to-r hover:from-fuchsia-600 hover:to-indigo-500 focus:outline-none focus:ring-2 focus:ring-orange-400/80 focus:ring-offset-0 disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"
                      >
                        RSVP
                      </button>
                  </div>
                </form>
              </div>
            </div>
          </div>


          <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
            <div class="card w-96 glass">
              <figure><img src="assets/pexels-orlovamaria-4947565.jpg" alt="event image"/></figure>
              <div class="card-body">
                <h2 class="card-title">Event title</h2>
                <p>Event description</p>

                <form action="">
                  <div class="card-actions justify-end">
                    <button type="submit"
                        class="inline-flex cursor-pointer items-center justify-center rounded-xl border-none bg-gradient-to-r from-fuchsia-600 to-indigo-600 px-4 py-2.5 text-sm font-semibold text-white transition duration-200 hover:bg-gradient-to-r hover:from-fuchsia-600 hover:to-indigo-500 focus:outline-none focus:ring-2 focus:ring-orange-400/80 focus:ring-offset-0 disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"
                      >
                        RSVP
                    </button>
                  </div>
                </form>
                
              </div>
            </div>
          </div>

        </div>
      </section>

      <!--  Categories -->
      <section class="p-4 md:p-10">
        <div class="grid grid-cols-1 gap-6 md:grid-cols-3 bg-red-900"> <!--row 1-->
          <h2 class="card-title">Categories</h2>
          <div class="flex flex-col rounded-3xl bg-layer-2 p-8">
            <div class="card lg:card-side bg-base-100 shadow-xl">
              <figure><img src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg" alt="Album"/></figure>
              <div class="card-body">
                <h2 class="card-title">Event title</h2>
                <p>Event description</p>


                <form action="">
                  <div class="card-actions justify-end">
                    <button type="submit"
                        class="inline-flex cursor-pointer items-center justify-center rounded-xl border-none bg-gradient-to-r from-fuchsia-600 to-indigo-600 px-4 py-2.5 text-sm font-semibold text-white transition duration-200 hover:bg-gradient-to-r hover:from-fuchsia-600 hover:to-indigo-500 focus:outline-none focus:ring-2 focus:ring-orange-400/80 focus:ring-offset-0 disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"
                      >
                        RSVP
                      </button>
                  </div>
                </form>
              </div>
            </div>
          </div>


          <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
            <div class="card w-96 glass">
              <figure><img src="assets/pexels-orlovamaria-4947565.jpg" alt="event image"/></figure>
              <div class="card-body">
                <h2 class="card-title">Event title</h2>
                <p>Event description</p>

                <form action="">
                  <div class="card-actions justify-end">
                    <button type="submit"
                        class="inline-flex cursor-pointer items-center justify-center rounded-xl border-none bg-gradient-to-r from-fuchsia-600 to-indigo-600 px-4 py-2.5 text-sm font-semibold text-white transition duration-200 hover:bg-gradient-to-r hover:from-fuchsia-600 hover:to-indigo-500 focus:outline-none focus:ring-2 focus:ring-orange-400/80 focus:ring-offset-0 disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"
                      >
                        RSVP
                    </button>
                  </div>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--  Events calendar -->
      <section></section>



      <div class="mx-auto max-w-6xl space-y-8 md:space-y-20"> <!--rows-->
        <!-- {/* 1/3 and 2/3 */} -->

      </div>
    </section>
  </main>
</div>