<!-- LOGIN Home -->
<form  [formGroup]="loginForm" class="">
  <div class="lg:flex items-center justify-center ">
    <div class="relative">
  <div class="hidden sm:block h-56 w-56 text-indigo-300 absolute a-z-10 -left-20 -top-20">
     <svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(0.6) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='none'/><path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5'  stroke-width='1' stroke='none' fill='currentColor'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(#a)'/></svg>
    </div>
  <div class="hidden sm:block h-28 w-28 text-indigo-300 absolute a-z-10 -right-20 -bottom-20">
     <svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='b' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(0.5) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='none'/><path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5'  stroke-width='1' stroke='none' fill='currentColor'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(#b)'/></svg>
    </div>
      <!-- Sign in -->
      <div class="relative flex flex-col rounded-lg lg:bg-base-200 lg:shadow-lg lg:px-4">
        <div class="flex-auto p-6">
          <!-- Logo -->
          <div class="mb-2 flex flex-shrink-0 flex-grow-0 items-center justify-center overflow-hidden">
            <span class="flex-shrink-0 text-3xl font-black tracking-tight opacity-100 text-primary">Events system</span>
          </div>
          <!-- /Logo -->
          <h4 class="mb-12 font-medium text-secondary xl:text-xl text-center">Enter your email and password to sign in</h4>
  
          <!-- Email -->
            <div class="mb-4">
              <div class="label" htmlFor="email">
                <span class="label-text opacity-80">Email</span>
              </div>            
            <input 
              type="email" 
              id="email" 
              formControlName="email" 
              placeholder="name@mail.com" 
              class="input input-bordered w-full  transition duration-300 ease-in"
               required
               [ngClass]="{'input-error': loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched), 
                            'input-success': loginForm.get('email')?.valid}"
               />
          
            <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="text-red-500 text-sm mt-1">
              <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
              <div *ngIf="loginForm.get('email')?.errors?.['email'] || loginForm.get('email')?.errors?.['pattern']">Email must be valid.</div>
            </div>
          </div>

          <!-- Password -->
            <div class="mb-4">
              <div class="label" htmlFor="password">
                <span class="label-text opacity-80">Password</span>
                <span class="label-text-alt opacity-70 cursor-pointer underline"  onclick="my_modal_2.showModal()" >Forgot Password</span>
              </div>
              <div class="relative inline-flex w-full max-w-md  transition duration-300 ease-in">
              <input 
                type="password" 
                id="password" 
                formControlName="password" 
                placeholder="*******" 
                class="input input-bordered w-full max-w-md  transition duration-300 ease-in"
                [ngClass]="{'input-error': loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched), 
                            'input-success': loginForm.get('password')?.valid}"
                />
                <i [class]="hidePassword ? 'cursor-pointer absolute right-2 top-[40%] fas fa-eye' : 'cursor-pointer absolute right-2 top-[40%] fas fa-eye-slash'" (click)="togglePasswordVisibility()"></i>
              </div>

            <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="text-red-500 text-sm mt-1">
              <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
              <!-- <div *ngIf="loginForm.get('password')?.errors?.['pattern']">Password must be valid</div> -->
            </div>
          </div>

            <div class="mb-4 w-32">
              <label class="label cursor-pointer">
                <input type="checkbox" checked="checked" class="checkbox checkbox-accent" />
                <span class="label-text text-accent">Remember me</span>
  
              </label>
            </div>
            <div class="mb-4">
              <button (click)="onLogin()" [disabled]="loginForm.invalid" class="grid w-full cursor-pointer select-none rounded-md border border-primary bg-primary py-2 px-5 text-center ease-in duration-300 align-middle text-sm text-white hover:bg-base-100 shadowfocus:text-secondary disabled:opacity-30 disabled:hover:border-primary disabled:hover:bg-primary disabled:hover:text-white" type="submit">
                Sign in
              </button>

              <div class="divider">or</div>
  
              <button class="btn w-full mb-4 bg-base-100"  (click)="signInWithGoogle()">
                <img
                src="https://www.material-tailwind.com/logos/logo-google.png"
                alt="google"
                class="h-6 w-6"
                
              />Sign in with google</button>
            </div>
  
          <p class="mb-4 text-center">
            Not registered?
            <a  class="cursor-pointer text-indigo-500 no-underline hover:text-indigo-500" onclick="my_modal_3.showModal()"> Create an account </a>
          </p>

          <p class="mb-4 text-center">
            Find out more about our <span class="cursor-pointer text-indigo-500 no-underline hover:text-indigo-500" routerLink="/privacy-policy">Privacy Policy</span>
          </p>
        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
  
</form>

<div class="toast" *ngIf="isAPILoading">
  <div class="alert alert-info flex justify-center">
    <span class="loading loading-dots loading-md"></span>
  </div>
</div>


<div class="toast" *ngIf="showloginsuccessToast">
  <div class="alert alert-success">
    <span>Login successful Redirecting...</span>
  </div>
</div>

<div class="toast" *ngIf="showloginfailToast">
  <div class="alert alert-error">
    <span>Invalid credentials. Please try again.</span>
  </div>
</div>

<!-- FORGOT PASSWORD MODAL HOME -->
<dialog id="my_modal_2" class="modal  overflow-x-hidden backdrop-blur-sm">
  <div class="modal-box overflow-x-hidden bg-base-200 ">

    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-4 top-2">✕</button>
    </form>

    <div class="mx-auto max-w-md">
      <div class="rounded-xl shadow-sm">
        <div class="p-4 sm:p-7">
          <div class="text-center">
            <div class="mb-4 inline-block rounded-full  p-2 text-secondary">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
              </svg>
            </div>
            <h1 class="block text-2xl font-bold text-primary">Forgot password?</h1>
            <p class="mt-2 text-sm text-secondary">Don't worry we'll send you reset instructions.</p>
          </div>
    
          <div class="mt-6">
            <!-- Form -->
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit1()">
              <div class="grid gap-y-4">
                <!-- Form Group -->
                <div class="">
                  <div class="label" htmlFor="email">
                    <span class="label-text text-slate-400">Email address</span>
                  </div>            
                  <input type="email" id="email" formControlName="email"  
                        class="input input-bordered w-full max-w-md  transition duration-300 ease-in" 
                        [ngClass]="{'input-error': forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched), 
                                      'input-success': forgotPasswordForm.get('email')?.valid}"
                  />
                </div>
                <!-- /Form Group error messages-->
                <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)" class="text-red-500 text-sm">
                  <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</div>
                  <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email'] || forgotPasswordForm.get('email')?.errors?.['pattern']">Email must be valid.</div>
                </div>
    
                <button type="submit" [disabled]="forgotPasswordForm.invalid" class="grid w-full cursor-pointer select-none rounded-md border border-primary bg-primary py-2 px-5 text-center ease-in duration-300 align-middle text-sm text-white hover:bg-base-100 shadowfocus:text-secondary disabled:opacity-30 disabled:hover:border-primary disabled:hover:bg-primary disabled:hover:text-white">
                  Reset password
                </button>
              </div>
            </form>
            <!-- /Form -->
          </div>
        </div>

        
      </div>
    
      <p class="mt-3 flex items-center justify-center divide-x divide-gray-300 text-center">
        <!-- <a class="pl-3 text-sm text-gray-600 decoration-2 hover:text-blue-600 hover:underline" href="#"> FAQs </a> -->
        <span class="inline pr-3 text-sm text-gray-600">
          Remember your password?
          <a class="font-medium text-blue-600 decoration-2 hover:underline cursor-pointer" href="/login"> Sign in here </a>
        </span>
        <a class="pl-3 text-sm text-gray-600 decoration-2 hover:text-blue-600 hover:underline" href="#" target="_blank"> Contact Support </a>
      </p>
    </div>
    
  </div>
  

<div class="toast" *ngIf="isAPILoading">
  <div class="alert alert-info flex justify-center">
      <span class="loading loading-dots loading-md"></span>
  </div>
</div>


<div class="toast" *ngIf="showemailsuccessToast">
  <div class="alert alert-success text-wrap">
    <span>Password reset link has been sent to your email address. Please check your inbox </span>
  </div>
</div>

<div class="toast" *ngIf="showemailfailToast">
  <div class="alert alert-error">
    <span>Email address does not exist. Please try again</span>
  </div>
</div>

</dialog>

<!-- CREATE ACCOUNT MODAL HOME -->
<dialog id="my_modal_3" class="modal modal-middle backdrop-blur-sm">
  <div class="modal-box w-full h-full sm:w-10/12 sm:max-w-4xl bg-base-200">
    <form method="dialog" autocomplete="off">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-5 top-2">
        ✕
      </button>
      <div class="text-center min-h-[160px] sm:p-6 p-4">
        <h4 class="sm:text-3xl text-2xl font-bold  text-primary">Create your account</h4>
        <h4 class="font-thin text-secondary xl:text-xl">Enter your information to register</h4>
      </div>

          <div class="-mt-12 w-full">
            <!-- Mobile sign up with google -->
            <div class="flex flex-col justify-center items-center">
              <button class="btn lg:w-96 w-full mb-4  bg-base-100"   onClick="my_modal_7.showModal()">        
                <img src="https://www.material-tailwind.com/logos/logo-google.png"
                      alt="google"
                      class="h-6 w-6"
                />
                Sign up with google
              </button>
            </div>
            <!-- mobile sign up with google -->
            <div class="divider">or</div>

            <form (submit)="onRegister($event)" [formGroup]="registerForm" class="" autocomplete="off">
              <div class="flex  justify-center items-center">
                <div  class="grid md:grid-cols-2 gap-x-32 gap-y-6 w-full">
   
                  <div class="">
                    <div class="label" htmlFor="firstName">
                      <span class="label-text text-secondary">First Name</span>
                    </div>         
                    <input
                      id="firstName"
                      name="firstName"
                      formControlName="firstName"
                      type="text"
                      class="input input-bordered max-w-xl w-full"
                      required
                            [ngClass]="{'input-error': registerForm.get('firstName')?.invalid && (registerForm.get('firstName')?.dirty || registerForm.get('firstName')?.touched), 
                                      'input-success': registerForm.get('firstName')?.valid}"
                    />
                    <div *ngIf="registerForm.get('firstName')?.invalid && (registerForm.get('firstName')?.dirty || registerForm.get('firstName')?.touched)" class="text-red-500 text-sm mt-1">
                              <div *ngIf="registerForm.get('firstName')?.errors?.['required']">First Name is required.</div>
                              <div *ngIf="registerForm.get('firstName')?.errors?.['pattern']">First Name must contain only alphabets.</div>
                    </div>
                  </div>

                  <!-- Second name -->
                  <div>
                    <div class="label" htmlFor="lastName">
                      <span class="label-text text-secondary">Last Name</span>
                    </div> 
                    <input
                      id="lastName"
                      name="lastName"
                      formControlName="lastName"
                      type="text"
                      class="input input-bordered max-w-xl w-full"
                      required
                            [ngClass]="{'input-error': registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.dirty || registerForm.get('lastName')?.touched), 
                                      'input-success': registerForm.get('lastName')?.valid}"
                    />
                    <div *ngIf="registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.dirty || registerForm.get('lastName')?.touched)" class="text-red-500 text-sm mt-1">
                      Last Name is required
                    </div>
                  </div>
                
                  <!-- Email -->
                  <div>
                    <label htmlFor="email" class="block text-sm font-semibold text-heading text-secondary">
                      Email
                    </label>
                    <input
                      id="email"
                      name="email"
                      formControlName="email"
                      type="email"
                      class="input input-bordered max-w-xl w-full"
                      required
                            [ngClass]="{'input-error': registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched), 
                                      'input-success': registerForm.get('email')?.valid}"
                    />
                    <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)" class="text-red-500 text-sm mt-1">
                            <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
                            <div *ngIf="registerForm.get('email')?.errors?.['email'] || registerForm.get('email')?.errors?.['pattern']">Email must be valid.</div>
                    </div>
                  </div>

                  <!-- Password -->
                  <div>
                    <label htmlFor="password" class="block text-sm font-semibold text-heading text-secondary">
                      Password
                    </label>
                    <div class="relative inline-flex w-full max-w-md">
                            <input  autocomplete="off"  id="password1" type="password" name="password1"  autocomplete="off"  formControlName="password"
                        class="input input-bordered max-w-xl w-full transition duration-300 ease-in"
                        required
                              [ngClass]="{'input-error': registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched), 
                                          'input-success': registerForm.get('password')?.valid}"
                      />
                      <i [class]="hidePassword1 ? 'cursor-pointer absolute right-2 top-[40%] fas fa-eye' : 'cursor-pointer absolute right-2 top-[40%] fas fa-eye-slash'" (click)="togglePasswordVisibility1()"></i>
                    </div>

                    <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)" class="text-red-500 text-sm mt-1">
                      <!-- <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div> -->
                    </div>
                  <!-- Indicators -->
                  <div class="mt-2 transition duration-300 ease-in">
                    <div class="transition duration-300 ease-in" [class.text-red-500]="!hasMinLength()" [class.text-green-500]="hasMinLength()" [class.line-through]="hasMinLength()">
                      8 - 20 characters
                    </div>
                    <div class="transition duration-300 ease-in" [class.text-red-500]="!hasUppercase()" [class.text-green-500]="hasUppercase()" [class.line-through]="hasUppercase()">
                      One Uppercase letter
                    </div>
                    <div class="transition duration-300 ease-in" [class.text-red-500]="!hasLowercase()" [class.text-green-500]="hasLowercase()" [class.line-through]="hasLowercase()">
                      One Lowercase letter
                    </div>
                    <div class="transition duration-300 ease-in" [class.text-red-500]="!hasSymbol()" [class.text-green-500]="hasSymbol()" [class.line-through]="hasSymbol()">
                      ONLY symbols from &#64;, *, $, !, #, &
                    </div>
                  </div>
                  </div>

                  <!-- Host selection -->
                  <div class="tooltip tooltip-top" data-tip="This cannot be changed in the future">
                  <div class="w-full text-secondary">
                    I want to:
                    <label class="label cursor-pointer">
                      <input type="radio" class="radio radio-primary" formControlName="role" value="Employee" required />Attend Events
                    </label>
                    <label class="label cursor-pointer">
                      <input type="radio" class="radio radio-primary" formControlName="role" value="Host" /> Host and attend Events
                    </label>

                    <div *ngIf="registerForm.get('role')?.invalid && (registerForm.get('role')?.dirty || registerForm.get('role')?.touched)" class="text-red-500 text-sm mt-1">
                      <div *ngIf="registerForm.get('role')?.errors?.['required']">Please make a selection</div>
                    </div>
                  </div>
                </div>

                  <!-- Confirm Password -->
                  <div>
                    <label htmlFor="confirmPassword" class="block text-sm font-semibold text-heading text-secondary">
                      Confirm Password
                    </label>
                    <div class="relative inline-flex w-full max-w-md">
                      <input id="password2" type="password" name="password2" formControlName="confirmPassword" class="input input-bordered max-w-xl w-full transition duration-300 ease-in"
                            required
                            [ngClass]="{'input-error': registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched ) || registerForm.errors?.['passwordMismatch'], 
                                        'input-success': registerForm.get('confirmPassword')?.valid && !registerForm.errors?.['passwordMismatch']}" 
                      />
                      <i [class]="hidePassword2 ? 'cursor-pointer absolute right-2 top-[40%] fas fa-eye' : 'cursor-pointer absolute right-2 top-[40%] fas fa-eye-slash'" (click)="togglePasswordVisibility2()"></i>
                    </div>

                    <div *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)" class="text-red-500 text-sm mt-1"> <!--if one of the validators fail && the form control has been touched or dirty, output any of the following errors-->
                        <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']" class="text-red-500 text-sm mt-1">
                          Confirm Password is required
                        </div>
                    </div> 
                                  
                    <div *ngIf="registerForm?.errors?.['passwordMismatch']" class="text-red-500 text-sm mt-1">
                      Passwords do not match
                    </div>
                  </div>


                </div>
              </div> 


              <div class="flex items-center justify-center lg:mt-12 mt-4">
                <button type="submit"  [disabled]="registerForm.invalid" class=" w-96 mt-4 inline-flex cursor-pointer items-center justify-center rounded-md border-2 border-primary bg-primary px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:border-primary-accent hover:bg-primary-accent focus:outline-none focus:ring-2 focus:ring-orange-400/80 focus:ring-offset-0 disabled:opacity-30 disabled:hover:border-primary disabled:hover:bg-primary disabled:hover:text-white dark:focus:ring-white/80">
                  Create Account
                </button>
              </div>
              

            </form>
          </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </form>
  </div>
  <div class="toast" *ngIf="isRegisterAPILoading">
    <div class="alert alert-info flex justify-center">
        <span class="loading loading-dots loading-md"></span>
    </div>
  </div>
  <div class="toast" *ngIf="showregistersuccessToast">
    <div class="alert alert-success">
      <span>User Registered! Redirecting...</span>
    </div>
    </div>
    
    <div class="toast" *ngIf="showregisterfailToast">
    <div class="alert alert-error">
      <span>Error Registering User</span>
    </div>
    </div>
</dialog>

<dialog id="my_modal_7" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="text-lg font-medium">To allow your google calendar to sync with your RSVP'd events, select this option</h3>
    <img src="../assets/screenshots/Permissions.png" alt="">
    <p class="mb-4 text-center">
      Find out more in our <span class="cursor-pointer text-indigo-500 no-underline hover:text-indigo-500" routerLink="/privacy-policy">Privacy Policy</span>
    </p>

    <div class="flex items-center">
      <input class="checkbox checkbox-accent" type="checkbox" id="dontShowAgain" (change)="toggleDontShowAgain($event)">
      <label for="dontShowAgain" class="label-text text-accent ml-4">Don't show again</label>
    </div>
    <div class="text-right">
      <button class="btn btn-accent mt-4" (click)="signInWithGoogle()">I understand</button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
