<div>
  <div class="mx-auto text-center">
    <ul class="steps lg:text-md text-sm">
      <li [class.step-primary]="currentStep >= 0" class="step cursor-pointer font-roboto" (click)="navigateToStep(0)">Name</li>
      <li [class.step-primary]="currentStep >= 1" class="step cursor-pointer font-roboto" (click)="navigateToStep(1)">Description</li>
      <li [class.step-primary]="currentStep >= 2" class="step cursor-pointer font-roboto" (click)="navigateToStep(2)">Details</li>
      <li [class.step-primary]="currentStep >= 3" class="step cursor-pointer font-roboto" (click)="navigateToStep(3)">Prep & Agenda</li>
      <li [class.step-primary]="currentStep >= 4" class="step cursor-pointer font-roboto" (click)="navigateToStep(4)">Summary</li>
    </ul>
</div>

  <div [ngSwitch]="currentStep">
    <button class="btn w-[50px] -mt-12 lg:ml-8 h-[30px] rounded-full"(click)="goBack()"><i class="fa-solid fa-arrow-left"></i></button>

    <div class="flex justify-center items-center">
      <div *ngSwitchCase="0" class="mt-8" [@fadeInOut]>
        <h1 class="lg:text-6xl text-4xl text-center font-karla">Name your event</h1>
        <div class="tooltip tooltip-open tooltip-error mb-4"  [class.hidden]="!isNameEmpty" data-tip="please enter a Title">
        </div>
          <input #nameInput type="text" placeholder="Type here" class="input input-bordered w-full max-w-xl text-lg h-12 mt-8 font-roboto" required/>

          <div class="flex justify-between mt-4">
          <button class="btn btn-outline btn-warning font-roboto" [disabled]="currentStep === 0">Back</button>
          <button (click)="nextStep()" class="btn btn-success font-roboto">Next</button>
        </div>
       
      </div>
    </div>

    
    <div class="flex justify-center items-center">
      <div *ngSwitchCase="1" class="mt-8" [@fadeInOut]>
        <h1 class="lg:text-6xl text-4xl font-karla">What's it about?</h1>
        <div>
          <div class="tooltip tooltip-open tooltip-error lg:ml-8 ml-4 -mb-4 font-roboto"
            [class.hidden]="!isDescriptionEmpty" data-tip="Please enter a Description">
          </div>
          <textarea #descriptionInput class="textarea textarea-bordered w-full h-44 mt-4 font-roboto"
            placeholder="Description" required></textarea>
        </div>

    
        <div class="flex justify-between mt-4">
          <button (click)="previousStep()" class="btn btn-outline btn-warning font-roboto"
            [disabled]="currentStep === 0">Back</button>
          <button (click)="nextStep1()" class="btn btn-success font-roboto">Next</button>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <div *ngSwitchCase="2" [@fadeInOut]>
        <h1 class="lg:text-6xl text-4xl text-center mt-8 font-karla">Add some details!</h1>
          <div class="flex justify-evenly">
            <div>
              <div class="label mt-4">
                <span class="label-text font-roboto">Start Time</span>
              </div>
              <input #StartTimeInput type="time" class="input input-bordered lg:w-96 "required>
            </div>

            <div class="mt-16 lg:ml-8 font-roboto">
              -
            </div>

            <div>
              <div class="label mt-4 lg:ml-8">
                <span class="label-text font-roboto">End Time</span>
              </div>
              <input #EndTimeInput type="time" class="input input-bordered lg:w-96 lg:ml-8"required>
            </div>
        </div>

        <div class="flex justify-evenly">
          <div>
            <div class="label mt-4">
              <span class="label-text font-roboto">Start Date</span>
            </div>
            <input #StartDateInput type="date" class="input input-bordered lg:w-96 font-roboto"required>
          </div>
          <div class="mt-16 lg:ml-8 font-roboto">
            -
          </div>
          <div>
            <div class="label mt-4 lg:ml-8">
              <span class="label-text font-roboto">End Date</span>
            </div>
            <input #EndDateInput type="date" class="input input-bordered lg:w-96 lg:ml-8 font-roboto"required>
          </div>
        </div>

        <div class="flex justify-evenly lg:flex-row flex-col lg:ml-[0.8rem]">
          <!-- Add this input field for location -->
            <div>
            <div class="label  mt-4 lg:-ml-4" htmlFor="location">
              <span class="label-text text-secondary">Location</span>
            </div>
            <input  #LocationInput type="text" id="location" placeholder="Enter your location" class="input input-bordered w-96 max-w-md lg:-ml-4 font-roboto" />
            </div>



          <div>
            <div class="label mt-4 lg:ml-16">
              <span class="label-text font-roboto">Social club</span>
            </div>
            <select  #SocialClubInput placeholder="Social club" class="select select-bordered w-96 max-w-md lg:ml-16 font-roboto">
              <option disabled selected>Select a social club</option>
              <option *ngFor="let club of uniqueSocialClubs">{{ club.name }}</option>   
            </select>
          </div>

        </div>
          <div class="flex justify-center">
            <div>
              <div class="label mt-4 flex justify-center">
                <span class="label-text font-roboto">Tags</span>
              </div>
              <div class="tag-input-area">
                <input [(ngModel)]="newTag" type="text" class="input input-bordered w-96 max-w-md lg:-ml-4 font-roboto" placeholder="Enter a tag" />
                <button (click)="addTag()" class="btn btn-outline btn-accent mt-4 ml-2" [disabled]="tags.length >= 5">+</button>
              </div>
              <div class="tags mt-2 grid grid-cols-3 gap-0 gap-x-0">
                <button *ngFor="let tag of tags; let i = index"
                        (click)="removeTag(i)"
                        class="badge badge-neutral cursor-pointer hover:badge-error relative">
                  {{ tag }}
                  <span class="absolute top-0 right-0 mt-1 mr-1 text-xs hidden group-hover:inline">-</span>
                </button>
              </div>
            </div>
          </div>
        <div class="flex justify-between mt-4">
          <button (click)="previousStep()" class="btn btn-outline btn-warning font-roboto" [disabled]="currentStep === 0">Back</button>
          <div>
            <div class="tooltip tooltip-open tooltip-error lg:mt-0 lg:ml-0 ml-4 mb-5 font-roboto"  [class.hidden]="!isstep2Empty" data-tip="Empty input(s)">
            </div>
            <button (click)="nextStep2()" class="btn btn-success font-roboto">Next</button>
          </div>
        </div>
      </div>
    </div>  
    <div class="flex justify-center items-center">
      <div *ngSwitchCase="3" [@fadeInOut]>
        <h1 class="lg:text-6xl text-4xl text-center mt-8 font-karla">Add some more details!</h1>
        <div class="flex justify-evenly lg:flex-row flex-col">
          <div>
            <div class="flex flex-col lg:flex-row justify-evenly items-center">
              <div>
                <div class="label mt-4 text-center font-roboto">
                  <span class="label-text">Preparation Details</span>
                </div>
                <form [formGroup]="prepform">
                  <div formArrayName="prepinputs" class="font-roboto">
                    <div *ngFor="let input of prepinputs.controls; index as i" [@fadeIn] class="flex">
                      <input [formControlName]="i" class="input input-bordered w-full mt-4">
                      <button (click)="removeprepInput(i)" class="btn btn-outline btn-warning mt-4 ml-2 opacity-35">-</button>
                    </div>
                  </div>
                  <button [disabled]="prepinputs.length === 5" (click)="addprepInput()" class="btn btn-accent btn-outline btn-wide mt-4">+</button>
                </form>
              </div>

              <div class="mt-7 ml-8">
              </div>

              <div>
                <div class="label  mt-4">
                  <span class="label-text font-roboto">Agenda Details</span>
                </div>
                <form [formGroup]="agendaform">
                  <div formArrayName="agendainputs" class="font-roboto">
                    <div *ngFor="let input of agendainputs.controls; index as i" [@fadeIn] class="flex">
                      <input [formControlName]="i"  class="input input-bordered w-full mt-4">
                      <button (click)="removeagendaInput(i)" class="btn btn-outline btn-warning mt-4 ml-2 opacity-35">-</button>
                    </div>
                  </div>
                  <button [disabled]="agendainputs.length === 5" (click)="addagendaInput()" class="btn btn-accent btn-outline btn-wide mt-4">+</button>
                  <!-- <button (click)="saveInputs()">Next</button> -->
                </form>
              </div>
            </div>  
          </div>
        </div> <!-- Close the flex container here -->
        <div class="flex items-center justify-center">
          <div class="label mt-4">
            <span class="label-text font-roboto">Dietary accomodations</span>
          </div>
        </div>

        <div class="flex items-center justify-center mt-4">
          <button class="btn font-roboto" [ngClass]="{'btn-outline': isVegetarianSelected}" (click)="toggleVegetarian()">Vegetarian</button>
          <button class="btn lg:ml-8 font-roboto" [ngClass]="{'btn-outline': isVeganSelected}" (click)="toggleVegan()">Vegan</button>
          <button class="btn lg:ml-8 font-roboto" [ngClass]="{'btn-outline': isHalalSelected}" (click)="toggleHalal()">Halal</button>
          <button class="btn lg:ml-8 font-roboto" [ngClass]="{'btn-outline': isGlutenFreeSelected}" (click)="toggleGlutenFree()">Gluten-free</button>
        </div>

        <div class="flex justify-between mt-4 font-roboto">
          <button (click)="previousStep()" class="btn btn-outline btn-warning" [disabled]="currentStep === 0">Back</button>
          <button (click)="nextStep3()" class="btn btn-success">Next</button>
        </div>
      </div>
    </div>  
    <div class="flex justify-center items-center">
      <div *ngSwitchCase="4" [@fadeInOut]>
        <h1 class="lg:text-6xl text-4xl text-center mt-8 font-karla">Let's Summarize</h1>
        <div class="mx-auto w-1/2">
          <div class="label mt-4 flex justify-center">
            <span class="label-text font-roboto">Title</span>
          </div>
          <input disabled #nameInput type="text" placeholder="Type here" class="input input-bordered w-full max-w-xl text-lg h-12 font-roboto" required/>
        </div>

        <div class="label mt-4 flex justify-center">
          <span class="label-text font-roboto">Description</span>
        </div>
        <textarea disabled #descriptionInput class="textarea textarea-bordered w-full h-44 font-roboto" placeholder="Bio"required></textarea>    
        
        <div class="flex justify-evenly">
          <div>
            <div class="label mt-4">
              <span class="label-text font-roboto">Start Time</span>
            </div>
            <input disabled #StartTimeInput type="time" class="input input-bordered lg:w-96 font-roboto"required>
          </div>
          <div class="mt-16 lg:ml-8 font-roboto">
            -
          </div>
          <div>
            <div class="label mt-4 lg:ml-8">
              <span class="label-text font-roboto">End Time</span>
            </div>
            <input disabled #EndTimeInput type="time" class="input input-bordered lg:w-96 lg:ml-8 font-roboto"required>
          </div>

        </div>
        <div class="flex justify-evenly">
          <div>
            <div class="label mt-4">
              <span  class="label-text font-roboto">Start Date</span>
            </div>
            <input disabled #StartDateInput type="date" class="input input-bordered lg:w-96"required>
          </div>
          <div class="mt-16 lg:ml-8 font-roboto">
            -
          </div>
          <div>
            <div class="label mt-4 lg:ml-8">
              <span  class="label-text font-roboto">End Date</span>
            </div>
            <input disabled #EndDateInput type="date" class="input input-bordered lg:w-96 lg:ml-8"required>
          </div>
        </div>
        <div class="flex justify-evenly lg:flex-row flex-col lg:ml-[0.8rem]">
          <div>
            <div class="label mt-4 lg:-ml-4">
              <span class="label-text font-roboto">Location</span>
            </div>
            <input disabled #LocationInput type="text" placeholder="Location" class="input input-bordered w-96 max-w-md lg:-ml-4 font-roboto"required>
          </div>

          <div>
            <div class="label mt-4 lg:ml-16">
              <span class="label-text font-roboto">Social club</span>
            </div>
            <select disabled #SocialClubInput placeholder="Social club" class="select select-bordered w-96 max-w-md lg:ml-16 font-roboto">
              <option disabled selected>Select a social club</option>
              <option *ngFor="let club of uniqueSocialClubs">{{ club.name }}</option>
            </select>
          </div>

        </div>
        <div>
          <div class="flex flex-col lg:flex-row justify-evenly items-center">
            <div>
              <div class="label  mt-4">
                <span class="label-text font-roboto">Preparation Details</span>
              </div>
              <form [formGroup]="prepform">
                <div formArrayName="prepinputs">
                  <div *ngFor="let input of prepinputs.controls; index as i" [@fadeIn] class="flex font-roboto">
                    <input [formControlName]="i" class="input input-bordered w-full mt-4" >
                    <button (click)="removeprepInput(i)" class="btn btn-outline btn-warning mt-4 ml-2 opacity-35">-</button>
                  </div>
                </div>
                <button (click)="addprepInput()" class="btn btn-accent btn-outline btn-wide mt-4 " disabled>+</button>
                <!-- <button (click)="saveInputs()">Next</button> -->
              </form>
            </div>
            <div class="mt-7 ml-8">
            </div>
            <div>
              <div class="label  mt-4">
                <span class="label-text font-roboto">Agenda Details</span>
              </div>
              <form [formGroup]="agendaform">
                <div formArrayName="agendainputs">
                  <div *ngFor="let input of agendainputs.controls; index as i" [@fadeIn] class="flex font-roboto">
                    <input [formControlName]="i"  class="input input-bordered w-full mt-4">
                    <button (click)="removeagendaInput(i)" class="btn btn-outline btn-warning mt-4 ml-2 opacity-35">-</button>
                  </div>
                </div>
                <button (click)="addagendaInput()" class="btn btn-accent btn-outline btn-wide mt-4" disabled>+</button>
                <!-- <button (click)="saveInputs()">Next</button> -->
              </form>
            </div>
          </div>  
        </div>
        <div class="flex items-center justify-center">
          <div class="label mt-4">
            <span class="label-text font-roboto">Dietary accomodations</span>
          </div>
        </div>
        <div class="flex items-center justify-center mt-4">
          <button class="btn font-roboto" [ngClass]="{'btn-outline': isVegetarianSelected}" (click)="toggleVegetarian()">Vegetarian</button>
          <button class="btn lg:ml-8 font-roboto" [ngClass]="{'btn-outline': isVeganSelected}" (click)="toggleVegan()">Vegan</button>
          <button class="btn lg:ml-8 font-roboto" [ngClass]="{'btn-outline': isHalalSelected}" (click)="toggleHalal()">Halal</button>
          <button class="btn lg:ml-8 font-roboto" [ngClass]="{'btn-outline': isGlutenFreeSelected}" (click)="toggleGlutenFree()">Gluten-free</button>
          </div>


          <div class="flex justify-center">
            <div>
              <div class="label mt-4 flex justify-center">
                <span class="label-text font-roboto">Tags</span>
              </div>
              <!-- <div class="tag-input-area">
                <input [(ngModel)]="newTag" type="text" class="input input-bordered w-96 max-w-md lg:-ml-4 font-roboto" placeholder="Enter a tag" />
                <button (click)="addTag()" class="btn btn-outline btn-accent mt-4 ml-2" [disabled]="tags.length >= 5">+</button>
              </div> -->
              <div class="tags mt-2 grid grid-cols-3 gap-0 gap-x-0">
                <button *ngFor="let tag of tags; let i = index"
                        (click)="removeTag(i)"
                        class="badge badge-neutral cursor-pointer hover:badge-error relative">
                  {{ tag }}
                  <span class="absolute top-0 right-0 mt-1 mr-1 text-xs hidden group-hover:inline">-</span>
                </button>
              </div>
            </div>
          </div>
        <div class="flex justify-between mt-4 font-roboto">
          <button (click)="previousStep()" class="btn btn-outline btn-warning" [disabled]="currentStep === 0">back</button>
          <button (click)="presubmit()" class="btn btn-success">Create event</button>
        </div>
        
      </div>
    </div>  
  </div>

  <div class="toast" *ngIf="isAPILoading">
    <div class="alert alert-info flex justify-center">
        <span class="loading loading-dots loading-md"></span>
    </div>
  </div>

  <div class="toast" *ngIf="showsuccessToast">
    <div class="alert alert-success font-roboto">
      <span>Event succesfully created Redirecting...</span>
    </div>
  </div>

  <div class="toast" *ngIf="showfailToast">
    <div class="alert alert-error font-roboto">
      <span>error creating event</span>
    </div>
  </div>
  <!-- <button (click)="previousStep()" class="btn btn-warning" [disabled]="currentStep === 0">Back</button>
  <button (click)="nextStep()" class="btn btn-success">Next</button> -->
</div>