<div class="flex flex-col gap-8 overflow-x-hidden p-4">
    <div class="flex flex-col gap-3 bg-transparent rounded-xl">
        <div class="flex flex-row gap-2">
            <div class="avatar placeholder"  *ngIf="!pictureLink">
                <div class="w-24 rounded-full bg-base-200 flex items-center justify-center">
                    <span class="text-xl font-bold text-primary">{{ getInitials() }}</span>
                  </div>
            </div>
            <div class="avatar"  *ngIf="pictureLink">
                  <div class="w-24 rounded-full">
                    <img [src]="pictureLink" />
                  </div>
            </div>
    
            <div class=" flex flex-col flex-1">
                <p class="text-white-100 text-base font-medium leading-normal">{{ firstName }}{{ lastName ? ' ' + lastName : '' }}</p>
                <p class="text-[#637588] text-sm font-normal leading-normal">{{ createdAt | date:'MMMM d, yyyy' }}</p>
            </div>
        </div>

        <div class="rating rating-md gap-0.5">
            <ng-container *ngFor="let star of getStars(); let i = index">
                <input 
                  type="radio" 
                  [name]="'rating-' + employeeId" 
                  class="mask mask-star-2 bg-green-700" 
                  [checked]="rating && rating >= star" 
                />
              </ng-container>
        </div>
       
        <p class="text-white-100 text-base font-normal leading-normal">
            {{ comments }}
        </p>
    </div>
</div>
