<div class="flex flex-col gap-8 overflow-x-hidden p-4">
    <div class="flex flex-col gap-3 bg-transparent rounded-xl">
        <div class="flex flex-row gap-2">
            <div class="avatar placeholder"  *ngIf="!pictureLink">
                <div class="w-24 rounded-full bg-base-200 flex items-center justify-center">
                    <span class="text-xl font-bold text-primary">{{ getInitials() }}</span>
                  </div>
            </div>
            <div class="avatar"  *ngIf="pictureLink">
                  <div class="w-24 rounded-full">
                    <img [src]="pictureLink" />
                  </div>
            </div>
            <div class=" flex flex-col flex-1">
                <p class="text-white-100 text-base font-medium leading-normal">{{ firstName }}{{ lastName ? ' ' + lastName : '' }}</p>
                <p class="text-[#637588] text-sm font-normal leading-normal">{{ createdAt | date:'MMMM d, yyyy' }}</p>
            </div>
        </div>


        <div class="flex flex-row">
            <div class="rating rating-md gap-0.5">
                <ng-container *ngFor="let star of getStars(); let i = index">
                    <input
                      type="radio"
                      [name]="'rating-' + employeeId"
                      class="mask mask-star-2 bg-green-700"
                      [checked]="rating && rating >= star"
                    />
                  </ng-container>
            </div>
            <div class="flex gap-4 ml-4" *ngIf="matchingIDs()">
                <label for="my_modal_7" class="btn btn-primary btn-xs  bg-transparent border-none"><i class="fa fa-pencil" aria-hidden="true"></i></label>
                <label for="my_modal_6" class="btn btn-danger btn-xs text-red-400 bg-transparent border-none" ><i class="fa fa-trash-o" aria-hidden="true"></i></label>
            </div>
           
        </div>


        <p class="text-white-100 text-base font-normal leading-normal">
            {{ comments }}
        </p>
    </div>


</div>
<input type="checkbox" id="my_modal_6" class="modal-toggle" />
<div class="modal" role="dialog">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Delete Comment?</h3>
    <p class="py-4">Are you sure you want to delete this comment?<br/> <span class="text-orange-300">this action is not reversible</span></p>
    <div class="modal-action">
    </div>
    <div class="flex justify-between mt-4">
        <label for="my_modal_6"  class="btn btn-warning">Close</label>
      <form method="dialog">
        <button for="my_modal_6" (click)="deleteComment()" class="btn btn-outline btn-error">Delete my comment</button>
      </form>
    </div>
  </div>
</div>

<input type="checkbox" id="my_modal_7" class="modal-toggle" />
<div class="modal" role="dialog">
    <div class="modal-box">
        <div class="flex flex-col overflow-hidden" style='font-family: Manrope, "Noto Sans", sans-serif;'>
          <div class="layout-container flex h-full grow flex-col ">
            <div class="px-5 md:px-32 flex flex-1 justify-center h-full ">
              <div class="layout-content-container flex flex-col max-w-[2020px] h-full flex-1">
                <h1 class="text-white-500 text-3xl font-bold leading-tight tracking-[-0.015em] px-4 text-center pb-3 pt-5">Update your rating</h1>
  
  
  
  
                <div class="flex gap-5 ml-7 mt-8">
                  <h1 class="text-2xl">My Rating</h1>
                  <div class="rating rating-md gap-0.5">
                    <input type="radio" name="rating" class="mask mask-star-2 bg-green-700" [(ngModel)]="rating" [value]="1" />
                    <input type="radio" name="rating" class="mask mask-star-2 bg-green-700" [(ngModel)]="rating" [value]="2" />
                    <input type="radio" name="rating" class="mask mask-star-2 bg-green-700" [(ngModel)]="rating" [value]="3" />
                    <input type="radio" name="rating" class="mask mask-star-2 bg-green-700" [(ngModel)]="rating" [value]="4" />
                    <input type="radio" name="rating" class="mask mask-star-2 bg-green-700" [(ngModel)]="rating" [value]="5" />
                  </div>
                </div>
  
  
  
  
                <div class="flex flex-col max-w-[600px] flex-wrap items-start gap-4 mt-8 px-10 py-3">
                  <div>Review</div>
                  <label class="flex flex-col min-w-40 w-96 flex-1">
                    <textarea
                      placeholder="Tell us about your experience..."
                      class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white  focus:outline-0 focus:ring-0 border-none bg-neutral focus:border-none min-h-36 placeholder:text-white-1000 p-4 text-base font-normal leading-normal"
                      [(ngModel)]="comments"
                      name="review"
                    ></textarea>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
    <div class="flex justify-between mt-4">
        <label for="my_modal_7"  class="btn btn-warning">Close</label>
      <form method="dialog">
        <label for="my_modal_7" (click)="updateFeedback()" class="btn btn-accent">Submit feedback</label>
      </form>
    </div>
  </div>
</div>
<form (ngSubmit)="updateFeedback()">
  <dialog id="my_modal_7" class="modal modal-bottom sm:modal-middle">

  </dialog>
</form>




  <div class="toast" *ngIf="isAPILoading">
    <div class="alert alert-info flex justify-center">
        <span class="loading loading-dots loading-md"></span>
    </div>
  </div>
   
 
  <div class="toast" *ngIf="showdeletesuccessToast">
  <div class="alert alert-success">
    <span>Comment deleted</span>
  </div>
  </div>
 
  <div class="toast" *ngIf="showdeletefailToast">
  <div class="alert alert-error">
    <span>Error deleting Comment</span>
  </div>
  </div>

  <div class="toast" *ngIf="showupdatesuccessToast">
    <div class="alert alert-success">
      <span>Comment updated </span>
    </div>
    </div>
   
    <div class="toast" *ngIf="showupdatefailToast">
    <div class="alert alert-error">
      <span>Error updating Comment</span>
    </div>
    </div>