<div class="flex flex-col gap-8 overflow-x-hidden p-4">
    <div class="flex flex-col gap-3 bg-transparent rounded-xl">
        <div class="flex flex-row gap-2">
            <div class="avatar">
                <div class="w-24 rounded-full">
                    <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                </div>
            </div>
    
            <div class=" flex flex-col flex-1">
                <p class="text-white-100 text-base font-medium leading-normal">Polina</p>
                <p class="text-[#637588] text-sm font-normal leading-normal">May 16, 2023</p>
            </div>
        </div>


        <div class="flex gap-0.5">
            <div class="text-[#111418]" data-icon="Star" data-size="20px" data-weight="fill">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="green" viewBox="0 0 256 256">
                <path
                    d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"
                ></path>
                </svg>
            </div>

            <div class="text-[#111418]" data-icon="Star" data-size="20px" data-weight="fill">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="green" viewBox="0 0 256 256">
                <path
                    d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"
                ></path>
                </svg>
            </div>

            <div class="text-[#111418]" data-icon="Star" data-size="20px" data-weight="fill">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="green" viewBox="0 0 256 256">
                <path
                    d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"
                ></path>
                </svg>
            </div>

            <div class="text-[#111418]" data-icon="Star" data-size="20px" data-weight="fill">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="green" viewBox="0 0 256 256">
                <path
                    d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"
                ></path>
                </svg>
            </div>

            <div class="text-[#111418]" data-icon="Star" data-size="20px" data-weight="fill">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="green" viewBox="0 0 256 256">
                <path
                    d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"
                ></path>
                </svg>
            </div>
        </div>

        <p class="text-white-100 text-base font-normal leading-normal">
            One of the best I've attended in years! The atmosphere was electric, and the competition was fierce. 
            Highly recommend attending future events by Henry!
        </p>
    </div>
</div>
