<div>
    <main>
        <section> <!--calendar view-->

            <div class="card flex justify-content-center">
                <p-calendar 
                    class="max-w-full" 
                    [(ngModel)]="date" 
                    [inline]="true" 
                    [showWeek]="true" />
            </div>
            

            <div>
                <section class="mt-12">
                    

                    <div class="mb-10"> 
                        <div class="carousel carousel-center w-full p-4 space-x-4 bg-neutral rounded-box flex flex-nowrap"> <!--carousel block-->
                            <h2 class="text-base font-semibold leading-6 text-white-900 text-opacity-100">Events for 
                                <time datetime="2022-01-21">May 31, 2024</time>
                            </h2>
                            <div class="carousel-item"> <!--carousel item-->
                                <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                                    <div class="card w-96 glass">
                                      <figure><img src="assets/pexels-travelerchitect-15016180.jpg" alt="event image"/></figure>
                                      <div class="card-body">
                                        <h2 class="card-title">Event title</h2>
                                        <p>Event description</p>
                                      </div>
                                    </div>
                                </div>
                            </div> 
                            
                            <div class="carousel-item"> <!--carousel item-->
                                <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                                    <div class="card w-96 glass">
                                      <figure><img src="assets/pexels-travelerchitect-15016180.jpg" alt="event image"/></figure>
                                      <div class="card-body">
                                        <h2 class="card-title">Event title</h2>
                                        <p>Event description</p>
                                      </div>
                                    </div>
                                </div>
                            </div> 
        
                            <div class="carousel-item"> <!--carousel item-->
                                <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                                    <div class="card w-96 glass">
                                      <figure><img src="assets/pexels-travelerchitect-15016180.jpg" alt="event image"/></figure>
                                      <div class="card-body">
                                        <h2 class="card-title">Event title</h2>
                                        <p>Event description</p>
                                      </div>
                                    </div>
                                </div>
                            </div> 
        
                            <div class="carousel-item"> <!--carousel item-->
                                <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                                    <div class="card w-96 glass">
                                      <figure><img src="assets/pexels-travelerchitect-15016180.jpg" alt="event image"/></figure>
                                      <div class="card-body">
                                        <h2 class="card-title">Event title</h2>
                                        <p>Event description</p>
                                      </div>
                                    </div>
                                </div>
                            </div> 
        
                            <div class="carousel-item"> <!--carousel item-->
                                <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                                    <div class="card w-96 glass">
                                      <figure><img src="assets/pexels-travelerchitect-15016180.jpg" alt="event image"/></figure>
                                      <div class="card-body">
                                        <h2 class="card-title">Event title</h2>
                                        <p>Event description</p>
                                      </div>
                                    </div>
                                </div>
                            </div> 
        
                            <div class="carousel-item"> <!--carousel item-->
                                <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                                    <div class="card w-96 glass">
                                      <figure><img src="assets/pexels-travelerchitect-15016180.jpg" alt="event image"/></figure>
                                      <div class="card-body">
                                        <h2 class="card-title">Event title</h2>
                                        <p>Event description</p> 
                                      </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </section>
            </div>
        </section> 

        <section> <!--week events view-->
            <div class="mb-10"> 
                <div class="carousel carousel-center w-full p-4 space-x-4 bg-neutral rounded-box flex flex-nowrap"> <!--carousel block-->
                    <h2>Your events this week</h2>
                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-orlovamaria-4947565.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                              </div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-orlovamaria-4947565.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                              </div>
                            </div>
                        </div>
                    </div> 

                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-orlovamaria-4947565.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                              </div>
                            </div>
                        </div>
                    </div> 

                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-orlovamaria-4947565.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                              </div>
                            </div>
                        </div>
                    </div> 

                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-orlovamaria-4947565.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                              </div>
                            </div>
                        </div>
                    </div> 

                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-orlovamaria-4947565.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p> 
                              </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section> 


        <section> <!--month events view-->
            
            <div class="mb-10"> 
                <div class="carousel carousel-center w-full p-4 space-x-4 bg-neutral rounded-box flex flex-nowrap"> <!--carousel block-->
                    <h2>Your events this month</h2>
                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-rahulp9800-1652361.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                              </div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-rahulp9800-1652361.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                              </div>
                            </div>
                        </div>
                    </div> 

                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-rahulp9800-1652361.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                              </div>
                            </div>
                        </div>
                    </div> 

                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-rahulp9800-1652361.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                              </div>
                            </div>
                        </div>
                    </div> 

                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-rahulp9800-1652361.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                              </div>
                            </div>
                        </div>
                    </div> 

                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-rahulp9800-1652361.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                              </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section> 
    </main>
</div>

