<div>
    <main>
        <section> <!--calendar view-->
            
        </section> 

        <section> <!--week events view-->
            
        </section> 


        <section> <!--month events view-->
            
            <div class=""> 
                <div class="carousel carousel-center w-full p-4 space-x-4 bg-neutral rounded-box flex flex-nowrap"> <!--carousel block-->
                    <h2>Your events this month</h2>
                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-rahulp9800-1652361.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                
                                <form action="">
                                  <div class="card-actions justify-end">
                                    <button type="submit"
                                        class="inline-flex cursor-pointer items-center justify-center rounded-xl border-none bg-gradient-to-r from-fuchsia-600 to-indigo-600 px-4 py-2.5 text-sm font-semibold text-white transition duration-200 hover:bg-gradient-to-r hover:from-fuchsia-600 hover:to-indigo-500 focus:outline-none focus:ring-2 focus:ring-orange-400/80 focus:ring-offset-0 disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"
                                      >
                                        RSVP
                                    </button>
                                  </div>
                                </form>
                                
                              </div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-rahulp9800-1652361.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                
                                <form action="">
                                  <div class="card-actions justify-end">
                                    <button type="submit"
                                        class="inline-flex cursor-pointer items-center justify-center rounded-xl border-none bg-gradient-to-r from-fuchsia-600 to-indigo-600 px-4 py-2.5 text-sm font-semibold text-white transition duration-200 hover:bg-gradient-to-r hover:from-fuchsia-600 hover:to-indigo-500 focus:outline-none focus:ring-2 focus:ring-orange-400/80 focus:ring-offset-0 disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"
                                      >
                                        RSVP
                                    </button>
                                  </div>
                                </form> 
                              </div>
                            </div>
                        </div>
                    </div> 

                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-rahulp9800-1652361.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                
                                <form action="">
                                  <div class="card-actions justify-end">
                                    <button type="submit"
                                        class="inline-flex cursor-pointer items-center justify-center rounded-xl border-none bg-gradient-to-r from-fuchsia-600 to-indigo-600 px-4 py-2.5 text-sm font-semibold text-white transition duration-200 hover:bg-gradient-to-r hover:from-fuchsia-600 hover:to-indigo-500 focus:outline-none focus:ring-2 focus:ring-orange-400/80 focus:ring-offset-0 disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"
                                      >
                                        RSVP
                                    </button>
                                  </div>
                                </form> 
                              </div>
                            </div>
                        </div>
                    </div> 

                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-rahulp9800-1652361.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                
                                <form action="">
                                  <div class="card-actions justify-end">
                                    <button type="submit"
                                        class="inline-flex cursor-pointer items-center justify-center rounded-xl border-none bg-gradient-to-r from-fuchsia-600 to-indigo-600 px-4 py-2.5 text-sm font-semibold text-white transition duration-200 hover:bg-gradient-to-r hover:from-fuchsia-600 hover:to-indigo-500 focus:outline-none focus:ring-2 focus:ring-orange-400/80 focus:ring-offset-0 disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"
                                      >
                                        RSVP
                                    </button>
                                  </div>
                                </form> 
                              </div>
                            </div>
                        </div>
                    </div> 

                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-rahulp9800-1652361.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                
                                <form action="">
                                  <div class="card-actions justify-end">
                                    <button type="submit"
                                        class="inline-flex cursor-pointer items-center justify-center rounded-xl border-none bg-gradient-to-r from-fuchsia-600 to-indigo-600 px-4 py-2.5 text-sm font-semibold text-white transition duration-200 hover:bg-gradient-to-r hover:from-fuchsia-600 hover:to-indigo-500 focus:outline-none focus:ring-2 focus:ring-orange-400/80 focus:ring-offset-0 disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"
                                      >
                                        RSVP
                                    </button>
                                  </div>
                                </form> 
                              </div>
                            </div>
                        </div>
                    </div> 

                    <div class="carousel-item"> <!--carousel item-->
                        <div class="rounded-3xl bg-layer-2 p-8 md:col-span-2">
                            <div class="card w-96 glass">
                              <figure><img src="assets/pexels-rahulp9800-1652361.jpg" alt="event image"/></figure>
                              <div class="card-body">
                                <h2 class="card-title">Event title</h2>
                                <p>Event description</p>
                
                                <form action="">
                                  <div class="card-actions justify-end">
                                    <button type="submit"
                                        class="inline-flex cursor-pointer items-center justify-center rounded-xl border-none bg-gradient-to-r from-fuchsia-600 to-indigo-600 px-4 py-2.5 text-sm font-semibold text-white transition duration-200 hover:bg-gradient-to-r hover:from-fuchsia-600 hover:to-indigo-500 focus:outline-none focus:ring-2 focus:ring-orange-400/80 focus:ring-offset-0 disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"
                                      >
                                        RSVP
                                    </button>
                                  </div>
                                </form> 
                              </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section> 
    </main>
</div>
