<div class="hero h-80 min-w-dvw bg-pink-700" ></div> <!-- [style.background-image]="'url(' + imageSource + ')'" -->
<button class="btn w-[50px] -mt-48 lg:ml-8 h-[30px] rounded-full z-40"><i class="fa-solid fa-arrow-left"></i></button> 
<!-- (click)="goBack()" -->

<div class="flex h-screen flex-col overflow-hidden" style='font-family: Manrope, "Noto Sans", sans-serif;'>
    <div class="layout-container flex h-full grow flex-col">
        <div class="px-5 md:px-32 flex flex-1 justify-center h-full">
            <div class="layout-content-container flex flex-col max-w-[2010px] h-full flex-1">
                <div class="flex lg:justify-between lg:flex-row flex-col w-full">
                    <div class="w-full">
                        <div class="flex justify-between w-full">
                            <h1 class="text-6xl">Chess Tournament</h1>
                            <button class="btn" onclick="my_modal_5.showModal()">Write a review</button>
                        </div>
                        
                        <h2 class="mt-4 text-xl text-secondary">Annual chess tournament for employees and their families</h2>
                    </div>
                </div>

                <div class="flex flex-wrap gap-x-8 gap-y-6 p-4 ">
                    <div class="flex flex-col gap-2">
                        <p class="text-green-700 text-4xl font-black leading-tight tracking-[-0.033em]">4.3</p>

                        <div class="rating rating-md gap-0.5">
                            <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-700" />
                            <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-700" checked="checked" />
                            <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-700" />
                            <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-700" />
                            <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-700" />
                        </div>
                      
                        <p class="text-white-100 text-base font-normal leading-normal">20 reviews</p>
                    </div>

                    <div class="grid min-w-[200px] max-w-[400px] flex-1 grid-cols-[20px_1fr_40px] items-center gap-y-3">
                        <p class="text-white-100 text-sm font-normal leading-normal">5</p>
                        <div class="flex h-2 flex-1 overflow-hidden rounded-full bg-[#dce0e5]"><div class="rounded-full bg-green-700" style="width: 60%;"></div></div>
                        <p class="text-[#637588] text-sm font-normal leading-normal text-right">60%</p>

                        <p class="text-white-100 text-sm font-normal leading-normal">4</p>
                        <div class="flex h-2 flex-1 overflow-hidden rounded-full bg-[#dce0e5]"><div class="rounded-full bg-green-700" style="width: 10%;"></div></div>
                        <p class="text-[#637588] text-sm font-normal leading-normal text-right">10%</p>

                        <p class="text-white-100 text-sm font-normal leading-normal">3</p>
                        <div class="flex h-2 flex-1 overflow-hidden rounded-full bg-[#dce0e5]"><div class="rounded-full bg-green-700" style="width: 10%;"></div></div>
                        <p class="text-[#637588] text-sm font-normal leading-normal text-right">10%</p>

                        <p class="text-white-100 text-sm font-normal leading-normal">2</p>
                        <div class="flex h-2 flex-1 overflow-hidden rounded-full bg-[#dce0e5]"><div class="rounded-full bg-green-700" style="width: 10%;"></div></div>
                        <p class="text-[#637588] text-sm font-normal leading-normal text-right">10%</p>

                        <p class="text-white-100 text-sm font-normal leading-normal">1</p>
                        <div class="flex h-2 flex-1 overflow-hidden rounded-full bg-[#dce0e5]"><div class="rounded-full bg-green-700" style="width: 10%;"></div></div>
                        <p class="text-[#637588] text-sm font-normal leading-normal text-right">10%</p>
                    </div>
                </div>

                <div class="overflow-y-auto">
                    <app-user-review-card></app-user-review-card>
                    <app-user-review-card></app-user-review-card>
                    <app-user-review-card></app-user-review-card>
                    <app-user-review-card></app-user-review-card>
                    <app-user-review-card></app-user-review-card>
                    <app-user-review-card></app-user-review-card>
                    <app-user-review-card></app-user-review-card>
                    <app-user-review-card></app-user-review-card>
                    <app-user-review-card></app-user-review-card>
                </div>
          </div>
        </div>
    </div>
</div>

<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <div class="flex flex-col overflow-hidden" style='font-family: Manrope, "Noto Sans", sans-serif;'>
            <div class="layout-container flex h-full grow flex-col ">
                <div class="px-5 md:px-32 flex flex-1 justify-center h-full ">
                    <div class="layout-content-container flex flex-col max-w-[2010px] h-full flex-1">
                        <h1 class="text-white-500 text-3xl font-bold leading-tight tracking-[-0.015em] px-4 text-center pb-3 pt-5">How was your experience at the Chess Tournament ?</h1>
                
                        <div class="flex flex-wrap gap-x-8 gap-y-6 p-6">
                            <div class="flex flex-col gap-2">
                                <p class="text-green-700 text-4xl font-black leading-tight tracking-[-0.033em]">4.3</p>
                            
                                <div class="rating rating-md gap-0.5">
                                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-700" />
                                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-700" checked="checked" />
                                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-700" />
                                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-700" />
                                    <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-700" />
                                </div>
    
                                <p class="text-white-100 text-base font-normal leading-normal">20 reviews</p>
                            </div>
    
                        
                            <div class="grid min-w-[200px] max-w-[400px] flex-1 grid-cols-[20px_1fr_40px] items-center gap-y-3">
                                <p class="text-white-100 text-sm font-normal leading-normal">5</p>
                                <div class="flex h-2 flex-1 overflow-hidden rounded-full bg-[#dce0e5]"><div class="rounded-full bg-green-700" style="width: 60%;"></div></div>
                                <p class="text-[#637588] text-sm font-normal leading-normal text-right">60%</p>
        
                                <p class="text-white-100 text-sm font-normal leading-normal">4</p>
                                <div class="flex h-2 flex-1 overflow-hidden rounded-full bg-[#dce0e5]"><div class="rounded-full bg-green-700" style="width: 10%;"></div></div>
                                <p class="text-[#637588] text-sm font-normal leading-normal text-right">10%</p>
        
                                <p class="text-white-100 text-sm font-normal leading-normal">3</p>
                                <div class="flex h-2 flex-1 overflow-hidden rounded-full bg-[#dce0e5]"><div class="rounded-full bg-green-700" style="width: 10%;"></div></div>
                                <p class="text-[#637588] text-sm font-normal leading-normal text-right">10%</p>
        
                                <p class="text-white-100 text-sm font-normal leading-normal">2</p>
                                <div class="flex h-2 flex-1 overflow-hidden rounded-full bg-[#dce0e5]"><div class="rounded-full bg-green-700" style="width: 10%;"></div></div>
                                <p class="text-[#637588] text-sm font-normal leading-normal text-right">10%</p>
        
                                <p class="text-white-100 text-sm font-normal leading-normal">1</p>
                                <div class="flex h-2 flex-1 overflow-hidden rounded-full bg-[#dce0e5]"><div class="rounded-full bg-green-700" style="width: 10%;"></div></div>
                                <p class="text-[#637588] text-sm font-normal leading-normal text-right">10%</p>
                            </div>
                        </div>
    
                        <div class="flex gap-5 ml-7 mt-8">
                            <h1 class="text-2xl">My Rate</h1>
                            <div class="rating rating-md gap-0.5">
                                <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-700" />
                                <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-700" checked="checked" />
                                <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-700" />
                                <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-700" />
                                <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-700" />
                            </div>
                        </div>
    
                        <div class="flex flex-col max-w-[600px] flex-wrap items-start gap-4 mt-8 px-10 py-3">
                            <div>Review</div>
                            <label class="flex flex-col min-w-40 w-96 flex-1">
                                <textarea
                                placeholder="Tell us about your experience..."
                                class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white  focus:outline-0 focus:ring-0 border-none bg-[#f0f2f4] focus:border-none min-h-36 placeholder:text-white-1000 p-4 text-base font-normal leading-normal"
                                ></textarea>
                            </label>
                        </div>

                        <div class="modal-action mt-16">
                            <form method="dialog" class="w-full">
                                <!-- if there is a button in form, it will close the modal -->
                                 <div class="flex gap-4 items-center justify-between">
                                    <button class="btn w-40 ">Cancel</button>
                                    <button class="btn w-40 ">Submit feedback</button>
                                 </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</dialog>
