<form (submit)="updateClub()" [formGroup]="updateForm" class="card-body">
  <div class="relative flex size-full min-h-screen flex-col bg-transparent overflow-x-hidden">
    <div class="layout-container flex h-full grow flex-col">
      <div class="px-5 md:px-32 flex flex-1 justify-center py-5">
        <div class="layout-content-container flex flex-col max-w-[2010px] flex-1">
            <!--Page heading-->
            <div class="flex items-center justify-between mb-6 md:mx-10">
                <div class="text-white text-center font-bold text-3xl"><p>Update Clubs</p></div>
            </div>

            <div class="flex flex-col mt-5 gap-10">
                <div class="flex flex-col items-center justify-center">
                    <p class="text-xl">Club Profile</p>
                    <div class="mt-3 flex flex-col items-center relative">
                      <div class="btn btn-ghost btn-square avatar p-2 relative w-72 h-72 md:w-[400px] md:h-[380px]">
                        <div class="w-full">
                          <img alt="Social Club Image" class="w-full h-full">
                          <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 rounded-lg">
                            <i class="fas fa-pencil-alt text-white text-xl"></i>
                          </div>
                        </div>
                      </div>
                      <input type="file" id="fileInput" class="hidden">
                    </div>
                </div>

                <div class="flex flex-col justify-center items-center">
                      <p class="text-xl">Club Name</p>
                       <div>
                          <input id="nameInput" type="text" formControlName="name" placeholder="Type club name..." class="input input-bordered md:w-80 max-w-xl text-lg h-12 mt-3 mb-2" required/>
                       </div>
                </div>

                <div class="flex flex-col justify-center items-center">
                      <p class="text-xl">Club summary & detailed description</p>
                      <div>
                          <textarea id="summaryInput" formControlName="summaryDescription" class="textarea textarea-bordered w-full h-20 mt-3" placeholder="Summary" required></textarea>        
                          <textarea id="descriptionInput" formControlName="description" class="textarea textarea-bordered w-full h-44 mt-2" placeholder="Description" required></textarea>
                      </div>
                </div>

                <div class="flex flex-col justify-center items-center">
                      <p class="text-xl">Category</p>
                      <div>
                          <select id="categoryInput" formControlName="categories" class="select md:w-80 border-accent focus:border-none mt-3 overflow-y-auto">
                            <option disabled selected>Select ...</option>
                            <option>Category 1</option>
                            <option>Category 2</option>
                            <option>Category 3</option>
                            <option>Category 4</option>
                            <option>Category 5</option>
                          </select>
                      </div>
                </div>

                <div class="flex items-center justify-center mt-4">
                  <button id="saveButton" class="btn btn-success" type="submit">Save changes</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</form>