<div class="relative flex h-screen min-h-screen flex-col bg-transparent overflow-x-hidden">
    <div class="layout-container flex h-full grow flex-col">
      <div class="px-32 flex flex-1 justify-center py-5 h-full">
        <div class="layout-content-container flex flex-col max-w-[2010px] flex-1">
            <!--Page heading-->
            <div class="relative">
              <div class="concept title relative">
                <div class="flex max-w-[350px] m-auto">
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>S</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>e</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>a</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>r</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>c</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>h</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>&nbsp;</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>a</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>n</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>d</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>&nbsp;</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>E</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>x</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>p</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>l</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>o</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>r</h1>
                  </div>
                  <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>e</h1>
                  </div>
                </div>
              </div>
            </div>
            

            <!--Search bar-->
            <div class="px-4 py-3">
                <label class="flex flex-col min-w-40 h-12 w-full">
                <div class="flex w-full flex-1 items-stretch rounded-xl h-full">
                    <div class="text-[#93adc8] flex border-none bg-[#243647] items-center justify-center pl-4 rounded-l-xl border-r-0">
                        <div class="fa-solid fa-magnifying-glass"></div>
                    </div>
                    <input placeholder="Search for events" (input)="updateSearchTerm($event)" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border-none bg-[#243647] focus:border-none h-full placeholder:text-[#93adc8] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal" />
                </div>
                </label>
            </div>

            <div class="overflow-y-auto h-full flex flex-col gap-10">
              <app-search-event-card   
              *ngFor="let event of filteredEvents"
              [eventID]="event.eventId"
              [eventTitle]="event.title"
              [startTime]="event.startTime"
              [endTime]="event.endTime"
              [startDate]="event.startDate"
              [endDate]="event.endDate"
              [location]="event.location"
              [socialClub]="event.socialClub">
              </app-search-event-card>
              <app-search-host-card
              *ngFor="let host of filteredHosts"
              [hostName]="host.firstName + ' ' + host.lastName"
              [hostEmail]="host.email"
              [hostImage]="host.employee_picture_link"
              ></app-search-host-card>
            </div>
        </div>
      </div>
    </div>
  </div>


<!-- <div class="rotating-text">
  <p>CSS Animation is</p>
  <p>
    <span class="word alizarin">awesome.</span>
    <span class="word wisteria">beautiful.</span>
    <span class="word peter-river">creative.</span>
    <span class="word emerald">fabulous.</span>
    <span class="word sun-flower">interesting.</span>
  </p>
</div> -->
  
