<div class="userProfileContainer">
    <div class="sidebar">
      <div class="profile">
        <div class="avatar"></div>
        <div class="username">Username</div>
        <div class="stats">
          <div class="followers">Followers</div>
          <div class="subscribers">Subscribers</div>
        </div>
        <div class="bio">Bio</div>
        <button class="follow">Follow</button>
        <button class="subscribe">Subscribe</button>
      </div>
    </div>
  
    <div class="main-content">
      <div class="search">
        <input type="text" placeholder="Search for Achievement or Users">
      </div>
  
      <div class="tabs">
        <button class="tab">Feed</button>
        <button class="tab">Subscribers</button>
        <button class="tab">Achievements</button>
      </div>
  
      <div class="feed">
        <div class="post">
          <div class="userInfo">
            <div class="avatar"></div>
            <div class="username">Username</div>
            <button class="follow">Follow</button>
          </div>
          <div class="post-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="actions">
            <button class="like">Like</button>
            <button class="share">Share</button>
          </div>
        </div>
  
        <div class="post">
          <div class="user-info">
            <div class="avatar"></div>
            <div class="username">Username</div>
            <button class="follow">Follow</button>
          </div>
          <div class="post-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="actions">
            <button class="like">Like</button>
            <button class="share">Share</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  