<div class="drawer lg:drawer-open drawer-end"  [ngClass]="{'blur-lg transition duration-1000': showRecommended}">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" #drawerToggle />
  <div class="drawer-content flex flex-col justify-center">
    <label for="my-drawer-3" class="btn btn-primary font-roboto drawer-button lg:hidden w-full">Filter</label>

    <div class="hidden sm:block h-56 w-56 text-indigo-300 absolute a-z-10 -left-20 top-24">
      <svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(0.6) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='none'/><path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5'  stroke-width='1' stroke='none' fill='currentColor'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(#a)'/></svg>
     </div>
     <div class="hidden sm:block h-28 w-28 text-indigo-300 absolute a-z-10 right-64 bottom-96">
      <svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='b' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(0.5) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='none'/><path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5'  stroke-width='1' stroke='none' fill='currentColor'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(#b)'/></svg>
     </div>
     <div class="hidden sm:block h-28 w-28 text-indigo-300 absolute a-z-10 left-96 bottom-1/4">
      <svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='b' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(0.5) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='none'/><path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5'  stroke-width='1' stroke='none' fill='currentColor'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(#b)'/></svg>
     </div>
     <div class="hidden sm:block h-56 w-56 text-indigo-300 absolute a-z-10 right-32 -bottom-36">
      <svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(0.6) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='none'/><path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5'  stroke-width='1' stroke='none' fill='currentColor'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(#a)'/></svg>
     </div>

    <div class="flex justify-center items-center">
      <div #eventContainer class="lg:mb-96 mt-2 mb-80 w-11/12 h-96 grid md:grid-cols-3 lg:grid-cols-4 grid-cols-1 lg:gap-6 lg:ml-0 md:ml-0 ml-16 gap-y-12">
        <div *ngIf="isLoading; else content">
          <div class="lg:mb-96 mt-2 mb-80 lg:ml-16 w-11/12 h-96 grid lg:grid-cols-4 grid-cols-1 gap-x-80 gap-y-12">
            <app-ghost-event-card></app-ghost-event-card>
            <app-ghost-event-card></app-ghost-event-card>
            <app-ghost-event-card></app-ghost-event-card>
            <app-ghost-event-card></app-ghost-event-card>
            <app-ghost-event-card></app-ghost-event-card>
            <app-ghost-event-card></app-ghost-event-card>
            <app-ghost-event-card></app-ghost-event-card>
            <app-ghost-event-card></app-ghost-event-card>
          </div>
        </div>

        <ng-template #content>
          <app-event-card
            *ngFor="let event of filteredEvents"
            [eventID]="event.eventId"
            [eventTitle]="event.title"
            [description]="event.description"
            [startTime]="event.startTime"
            [endTime]="event.endTime"
            [startDate]="event.startDate"
            [endDate]="event.endDate"
            [location]="event.location"
            [hostedBy]="event.host.firstName + ' ' + event.host.lastName"
            [socialClub]="event.socialClub">
          </app-event-card>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="drawer-side h-full hide-scrollbar">
    <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu h-full p-4 w-80 bg-base-200 text-base-content">
      <!-- Sidebar content here -->
      <button class="btn w-full font-karla no-animation">Refine by social club</button>
      <ul class="menu bg-base-200 w-full rounded-box font-roboto">
        <li><input type="checkbox" [checked]="allClubsChecked" (change)="allClubsChecked = !allClubsChecked; onAllClubsClick()" aria-label="All social clubs" class="btn w-full" /></li>
        <li *ngFor="let club of socialClubs; let i = index">
          <input type="checkbox" [checked]="otherCheckboxes[i]" (change)="otherCheckboxes[i] = !otherCheckboxes[i]; onOtherClubClick(i)" (click)="filterEvents()" [attr.aria-label]="club.name" class="btn" />
        </li>
      </ul>

      <div class="mt-8">
        <button class="btn font-karla w-full no-animation">Filter By:</button>

        <div class="collapse collapse-plus">
          <input type="radio" name="my-accordion-3" checked="checked" />
          <div class="collapse collapse-plus">
            <input type="radio" name="my-accordion-3" />
            <div class="collapse-title text-xl font-roboto font-medium">
              Title
            </div>

            <div class="collapse-content">
              <ul class="menu bg-base-200 w-56 rounded-box">
                <input type="text" class="input input-bordered font-roboto w-full max-w-xs" (input)="updateSearchTerm($event)" placeholder="Search by title" />
              </ul>
            </div>
          </div>

          <div class="collapse-title text-xl font-roboto font-medium">
            Date
          </div>
          <div class="collapse-content">
            <form (submit)="onSubmit()">
              <input type="date" id="date-input" [value]="selectedDate" (input)="handleInput($event)" name="date-input" class="bg-gray-400 w-full px-3 py-2 rounded-lg border-2 border-gray-400 font-roboto focus:border-indigo-500 text-base outline-none text-gray-700 transition-colors duration-200 ease-in-out">
              <div class="flex w-full">
                <button class="btn btn-outline font-roboto mt-4" (click)="clearDateFilter(); drawerToggle.checked = false">Clear</button>
                <button class="btn btn-primary font-roboto mt-4 ml-24" (click)="drawerToggle.checked = false" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>

        <div class="collapse collapse-plus bg-base-200">
          <input type="radio" name="my-accordion-3" />
          <div class="collapse-title text-xl font-roboto font-medium">
            Location
          </div>
          <div class="collapse-content">
            <ul class="menu bg-base-200 w-56 rounded-box">
              <input type="text" class="input input-bordered font-roboto w-full max-w-xs" (input)="updateSearchLocation($event)" placeholder="Search by Location" />
            </ul>
          </div>
        </div>

        <div class="collapse collapse-plus bg-base-200">
          <input type="radio" name="my-accordion-3" />
          <div class="collapse-title text-xl font-roboto font-medium">
            Dietary Requirements
          </div>
          <div class="collapse-content">
            <ul class="menu bg-base-200 w-56 rounded-box font-roboto">
              <label class="label cursor-pointer">
                <input type="radio" name="radio-10" class="radio checked:bg-red-500" checked (change)="updateDietaryAccommodation('')" />
                <span class="label-text">None</span>
              </label>
              <label class="label cursor-pointer">
                <input type="radio" name="radio-10" class="radio checked:bg-red-500" (change)="updateDietaryAccommodation('Vegetarian')" />
                <span class="label-text">Vegetarian</span>
              </label>
              <label class="label cursor-pointer">
                <input type="radio" name="radio-10" class="radio checked:bg-red-500" (change)="updateDietaryAccommodation('Vegan')" />
                <span class="label-text">Vegan</span>
              </label>
              <label class="label cursor-pointer">
                <input type="radio" name="radio-10" class="radio checked:bg-red-500" (change)="updateDietaryAccommodation('Halal')" />
                <span class="label-text">Halal</span>
              </label>
              <label class="label cursor-pointer">
                <input type="radio" name="radio-10" class="radio checked:bg-red-500" (change)="updateDietaryAccommodation('Gluten-free')" />
                <span class="label-text">Gluten-free</span>
              </label>
            </ul>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>
<!-- Recommended Events Overlay -->
<div *ngIf="showRecommended" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <div class="p-4 md:p-8 rounded-lg w-full h-full md:w-auto md:h-auto overflow-y-auto md:overflow-visible">
    <h2 class="text-2xl font-bold mb-4">Recommended Events</h2>
    <div class="flex flex-col md:flex-row gap-4 overflow-y-auto md:overflow-y-visible max-h-full md:max-h-full items-center justify-center">
      <!-- Skeleton Loaders -->
      <ng-container *ngIf="loading; else eventCards">
        <div class="relative flex flex-col mt-6  h-96 bg-transparent shadow-md bg-clip-border rounded-xl w-72"></div>  
        <div class="relative flex flex-col mt-6  h-96 bg-transparent shadow-md bg-clip-border rounded-xl w-72"></div>  
        <div class="relative flex flex-col mt-6  h-96 bg-transparent shadow-md bg-clip-border rounded-xl w-72"></div>  
      </ng-container>
      <!-- Event Cards -->
      <ng-template #eventCards>
        <ng-container *ngIf="recommendedEvents.length > 0; else noEvents">
          <app-event-card
            *ngFor="let event of recommendedEvents; let i = index"
            [eventID]="event.eventId"
            [eventTitle]="event.title"
            [description]="event.description"
            [startTime]="event.startTime"
            [endTime]="event.endTime"
            [startDate]="event.startDate"
            [endDate]="event.endDate"
            [location]="event.location"
            [hostedBy]="event.host.firstName + ' ' + event.host.lastName"
            [socialClub]="event.socialClub"
            [isRecommended]="true"
            [ngClass]="['fade-in-stagger', 'delay-' + i * 200]">
          </app-event-card>
        </ng-container>
        <ng-template #noEvents>
          <div class="relative flex flex-col mt-6 h-96 bg-transparent shadow-md bg-clip-border rounded-xl w-72 items-center justify-center">
            <p class="text-xl font-bold text-gray-700">No events to recommend</p>
          </div>
        </ng-template>
      </ng-template>

      
    </div>
        <!-- "X" button -->
        <button *ngIf="showClearButton"  
        class="fixed bottom-4 right-4 bg-red-500 text-white font-bold w-16 h-16 rounded-full shadow-lg hover:bg-red-700 transition-transform duration-300 ease-in" 
        [ngClass]="{'translate-x-0': showClearButton, 'translate-x-full': !showClearButton}"
        (click)="clearRecommendedEvents()">
        <i class="fa fa-times ml-1 mt-1" aria-hidden="true"></i>
        </button>

  </div>
</div>
<button *ngIf="!showClearButton"   class="fixed bottom-4 right-4 bg-accent font-bold py-2 px-4 rounded-full shadow-lg hover:bg-primary transition-all duration-300 ease-in text-white" 
  
[disabled]="showClearButton" 
  (click)="highlightRecommendedEvents()">
  <ng-container *ngIf="!loading; else loadin">
    Suggest some events
  </ng-container>
  <ng-template #loadin>
    <span class="loading loading-dots loading-md"></span>
  </ng-template>
</button>