
<div class="navbar bg-base-100">
    <div class="navbar-start">
    </div>
    <div class="navbar-center hidden lg:flex">
      <a class="btn btn-ghost text-xl">Events</a>

    </div>
    <div class="navbar-end">
        <label for="my-drawer-4" class="drawer-button btn btn-primary">Create event</label>
    </div>
  </div>

<div class="drawer drawer-end">
    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <!-- Page content here -->
        <app-event></app-event>
        <app-event></app-event>
        <app-event></app-event>
    </div> 
    <div class="drawer-side">
      <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
        <!-- Sidebar content here -->
        <form class="card-body">
            <!-- title input-->
            <div>
              <label
                htmlFor="title"
                class="block text-sm font-semibold text-heading"
              >
                Title
              </label>
              <input
                id="title"
                name="title"
                type="text"
                class="mt-2 block w-full rounded-xl border-2 border-muted-3 bg-transparent px-4 py-2.5 font-semibold text-heading placeholder:text-text/50 focus:border-primary focus:outline-none focus:ring-0 sm:text-sm"
              />
              
            </div>
        <!-- description input -->
            <div>
                <label
                  htmlFor="description"
                  class="block text-sm font-semibold text-heading"
                >
                Description
                </label>
                <input
                id="description"
                name="description"
                type="text"
                class="mt-2 block w-full rounded-xl border-2 border-muted-3 bg-transparent px-4 py-2.5 font-semibold text-heading placeholder:text-text/50 focus:border-primary focus:outline-none focus:ring-0 sm:text-sm"
              />              </div>

            <!-- start time input -->
            <div>
                <label
                  htmlFor="startTime"
                  class="block text-sm font-semibold text-heading"
                >
                  Start time
                </label>
                <input
                  id="startTime"
                  name="startTime"
                  type="text"
                  class="mt-2 block w-full rounded-xl border-2 border-muted-3 bg-transparent px-4 py-2.5 font-semibold text-heading placeholder:text-text/50 focus:border-primary focus:outline-none focus:ring-0 sm:text-sm"
                />
              </div>

            <!-- end time input -->
            <div>
                <label
                  htmlFor="endTime"
                  class="block text-sm font-semibold text-heading"
                >
                  End time
                </label>
                <input
                  id="endTime"
                  name="endTime"
                  type="text"
                  class="mt-2 block w-full rounded-xl border-2 border-muted-3 bg-transparent px-4 py-2.5 font-semibold text-heading placeholder:text-text/50 focus:border-primary focus:outline-none focus:ring-0 sm:text-sm"
                />
              </div>

            <!-- location input -->
            <div>
                <label
                  htmlFor="location"
                  class="block text-sm font-semibold text-heading"
                >
                  Location
                </label>
                <input
                  id="location"
                  name="location"
                  type="text"
                  class="mt-2 block w-full rounded-xl border-2 border-muted-3 bg-transparent px-4 py-2.5 font-semibold text-heading placeholder:text-text/50 focus:border-primary focus:outline-none focus:ring-0 sm:text-sm"
                />
              </div>

            <!-- location input -->
            <div>
                <label
                  htmlFor="socialClub"
                  class="block text-sm font-semibold text-heading"
                >
                  social-club
                </label>
                <input
                  id="socialClub"
                  name="socialClub"
                  type="text"
                  class="mt-2 block w-full rounded-xl border-2 border-muted-3 bg-transparent px-4 py-2.5 font-semibold text-heading placeholder:text-text/50 focus:border-primary focus:outline-none focus:ring-0 sm:text-sm"
                />
              </div>

              <button
                    type="submit"
                    class="mt-4 inline-flex cursor-pointer items-center justify-center rounded-xl border-2 border-primary bg-primary px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:border-primary-accent hover:bg-primary-accent focus:outline-none focus:ring-2 focus:ring-orange-400/80 focus:ring-offset-0 disabled:opacity-30 disabled:hover:border-primary disabled:hover:bg-primary disabled:hover:text-white dark:focus:ring-white/80"
              >
                Create Event
              </button>
        </form>
      </ul>
    </div>
  </div>