<div class="flex gap-4 bg-transparent px-4 py-3">
    <div class="avatar">
        <div class="w-44 rounded-xl">
          <img src="assets/pexels-rahulp9800-1652361.jpg" alt="event image" />
        </div>
    </div>
    
    <div class="flex flex-1 flex-col justify-center">
      <p class="victor-mono-normal uppercase tracking-wide text-accent font-semibold text-base mb-5">Sports enthusiasts</p>
      <p class="cutive-mono-regular text-[#93adc8] text-sm font-normal mb-1.5">Created by: Henry</p>
      <p class="cutive-mono-regular text-[#93adc8] text-sm font-normal w-1/2 text-wrap mb-1.5">A club for sports lovers to play, watch, and discuss various sports activities. Regular events and tournaments are organized.</p>
      <p class="cutive-mono-regular text-[#93adc8] text-sm font-normal mb-1.5">20 members</p>
      <div class="flex gap-3 p-3 flex-wrap ">
        <!-- <app-tag></app-tag> -->
      </div>
    </div>

    <div class="flex flex-col gap-2 justify-center">
        <button routerLink="/updatesocialclub" class="cutive-mono-regular cursor-pointer flex h-8 shrink-0 items-center justify-center font-semibold text-white text-sm border-none rounded-xl bg-gradient-to-r from-accent to-secondary pl-4 pr-4 transition duration-200 hover:bg-gradient-to-r hover:from-accent hover:to-accent focus:outline-none disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"> 
            Edit Club
        </button>
        <button routerLink="/deletesocialclub" class="cutive-mono-regular cursor-pointer flex h-8 shrink-0 items-center justify-center font-semibold text-white text-sm border-none rounded-xl bg-gradient-to-r from-accent to-secondary pl-4 pr-4 transition duration-200 hover:bg-gradient-to-r hover:from-accent hover:to-accent focus:outline-none disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"> 
            Delete Club
        </button>
    </div>