<div class="card lg:card-side bg-base-100 shadow-xl">
  <img class="md:w-96 sm:rounded-l-3xl" src="assets/pexels-rahulp9800-1652361.jpg" alt="Social Club profile" />

  <div class="card-body">
    <div class="flex flex-1 flex-col justify-center">
      <p class="victor-mono-normal uppercase tracking-wide text-accent font-semibold text-base mb-5">Sports enthusiasts</p>
      <p class="cutive-mono-regular text-[#93adc8] text-sm font-normal mb-1.5">Created by: Henry</p>
      <p class="cutive-mono-regular text-[#93adc8] text-sm font-normal lg:w-1/2 text-wrap mb-1.5">A club for sports lovers to play, watch, and discuss various sports activities. Regular events and tournaments are organized.</p>
      <p class="cutive-mono-regular text-[#93adc8] text-sm font-normal mb-1.5">20 members</p>
      <div class="flex gap-3 p-3 flex-wrap ">
        <!-- <app-tag></app-tag> -->
      </div>
    </div>

    <div class="card-actions justify-end">
      <button routerLink="/updatesocialclub" class="cutive-mono-regular cursor-pointer flex h-8 shrink-0 items-center justify-center font-semibold text-white text-sm border-none rounded-xl bg-gradient-to-r from-accent to-secondary pl-6 pr-7 transition duration-200 hover:bg-gradient-to-r hover:from-accent hover:to-accent focus:outline-none disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"> 
        Edit Club
    </button>
    <button routerLink="/deletesocialclub" class="cutive-mono-regular cursor-pointer flex h-8 shrink-0 items-center justify-center font-semibold text-white text-sm border-none rounded-xl bg-gradient-to-r from-accent to-secondary pl-4 pr-4 transition duration-200 hover:bg-gradient-to-r hover:from-accent hover:to-accent focus:outline-none disabled:opacity-30 disabled:opacity-30 disabled:hover:text-white dark:focus:ring-white/80"> 
        Delete Club
    </button>
    </div>
  </div>
</div>