
<div role="alert" class="skeleton alert lg:flex justify-end hidden">
    <div >
        <button class="btn btn-outline btn-primary">More details</button>
        <button class="btn btn-outline btn-primary">Edit</button>
        <button class="btn btn-outline btn-primary">delete</button>
    </div>
</div>

<div class="lg:hidden block">
    <div class="skeleton collapse collapse-plus bg-base-200">
      <input type="radio" name="my-accordion-3" checked="checked" /> 
      <div class="collapse-title text-xl font-medium">
      </div>
      <div class="collapse-content"> 
        <div>
            <button class="btn btn-outline btn-primary">More details</button>
            <button class="btn btn-outline btn-primary">Edit</button>
            <button class="btn btn-outline btn-primary">delete</button>
          </div>
      </div>
    </div>



</div>