
<div class="card lg:card-side shadow-xl bg-base-200">
    <div class=" skeleton rounded-t-2xl h-44 sm:h-64 md:w-96 sm:rounded-l-xl sm:rounded-r-none flex items-center justify-center">
      <div class="skeleton h-28 w-28 shrink-0 rounded-full">
      </div>
    </div>
      
  <div class="card-body">
    <div class="flex flex-1 flex-col justify-center static">
      <div class="skeleton mb-5 h-6 w-52 md:h-8 md:w-96"></div>
      <div class="skeleton h-7 md:w-2/3 mb-4"></div>
      <div class="skeleton h-4 w-52 md:w-1/2 mb-1.5"></div>
      
      <div class="flex gap-3 p-3 flex-wrap ">
        <!-- <app-tag></app-tag> -->
      </div>
    </div>
      
    <div class="card-actions justify-end">
      <button class="skeleton flex h-8 shrink-0 items-center justify-center rounded-xl pl-6 pr-7 w-28"> 
      </button>
    </div>
  </div>
</div>
 






