<div class="card lg:card-side bg-base-200 shadow-xl sm:h-64">
    <div class="skeleton rounded-t-2xl h-56 sm:h-64 md:w-96 sm:rounded-l-2xl sm:rounded-r-none">
    </div>

    <div class="card-body">
      <div class="flex flex-1 flex-col justify-center">
        <div class="skeleton mb-5 h-6 w-40 md:h-8 md:w-96"></div>
        <div class="skeleton mb-3 md:mb-8 h-7 md:w-2/3"></div>
        <div class="skeleton mb-1.5 h-4 w-24 md:w-1/5"></div>

        <div class="flex gap-3 p-3 flex-wrap ">
          <!-- <app-tag></app-tag> -->
        </div>
      </div>

      <div class="card-actions md:justify-end">
        <button  class="skeleton flex h-8 shrink-0 items-center justify-center rounded-xl pl-6 pr-7 w-24 sm:w-28"> 
        </button>
        <button  class="skeleton flex h-8 shrink-0 items-center justify-center rounded-xl pl-6 pr-7 w-20"> 
        </button>
        <button class="skeleton flex h-8 shrink-0 items-center justify-center rounded-xl pl-6 pr-7 w-20"> 
        </button>
      </div>
    </div>
  </div>
