<div class="hidden sm:block h-56 w-56 text-indigo-300 absolute a-z-10 -left-10 -top-2">
  <svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'>
    <defs>
      <pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(0.6) rotate(0)'>
        <rect x='0' y='0' width='100%' height='100%' fill='none'/>
        <path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5' stroke-width='1' stroke='none' fill='currentColor'/>
      </pattern>
    </defs>
    <rect width='800%' height='800%' transform='translate(0,0)' fill='url(#a)'/>
  </svg>
</div>
<div class="hidden sm:block h-28 w-28 text-indigo-300 absolute a-z-10 right-20 bottom-20">
  <svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'>
    <defs>
      <pattern id='b' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(0.5) rotate(0)'>
        <rect x='0' y='0' width='100%' height='100%' fill='none'/>
        <path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5' stroke-width='1' stroke='none' fill='currentColor'/>
      </pattern>
    </defs>
    <rect width='800%' height='800%' transform='translate(0,0)' fill='url(#b)'/>
  </svg>
</div>
<div class="hidden sm:block h-28 w-28 text-indigo-300 absolute a-z-10 left-1/3 -bottom-24">
  <svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'>
    <defs>
      <pattern id='b' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(0.5) rotate(0)'>
        <rect x='0' y='0' width='100%' height='100%' fill='none'/>
        <path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5' stroke-width='1' stroke='none' fill='currentColor'/>
      </pattern>
    </defs>
    <rect width='800%' height='800%' transform='translate(0,0)' fill='url(#b)'/>
  </svg>
</div>
<div class="flex flex-col items-center justify-center p-6">
  <div class="lg:rounded-lg lg:shadow-lg lg:p-8 lg:max-w-lg w-full">
    <h1 class="text-5xl font-extrabold mb-6 text-center">Entelect Events System</h1>
    <p class="text-center text-lg mb-8 text-secondary">
      The Event System is an Entelect internal tool that aims to enhance awareness and engagement within the organization by providing employees with a centralized platform for viewing and RSVPing to events. The system will promote employee participation in social clubs, learning initiatives, and other events, leading to improved workplace morale and productivity.
    </p>


    <div class=" justify-center space-x-4 mb-6 hidden sm:flex">
      <div class="mb-4">
        <p class="mb-4 text-center text-secondary">
          Find out more about our <a class="cursor-pointer text-indigo-500 no-underline hover:text-indigo-500" (click)="navigateToPrivacyPolicy()">Privacy Policy</a>
        </p>
        <a href='/login' class="grid sm:w-96 w-64 cursor-pointer select-none rounded-md border border-accent hover:border-neutral bg-accent py-2 px-5 text-center ease-in duration-300 align-middle text-sm text-base-100 hover:bg-neutral hover:text-white shadow focus:text-secondary disabled:opacity-30 disabled:hover:border-primary disabled:hover:bg-primary disabled:hover:text-white">
          Get started
        </a>`
      </div>
    </div>
  </div>
</div>
<!-- Button at the bottom for mobile -->
<div class="sm:hidden fixed bottom-0 left-0 right-0 p-4 shadow-lg flex justify-center">
  <a href='/login' class="btn btn-accent w-80">
    Get started
  </a>
</div>