<div class="overflow-x-auto">
    <div class="navbar bg-base-100">
        <div class="navbar-start">
            {{ currentDate | date:'MMMM yyyy' }}
          </div>


        <div class="navbar-end">
            <div class="join">
                <button class="join-item btn"  (click)="previousMonth()">«</button>
                <button class="join-item btn" (click)="nextMonth()">>»</button>

            </div>
            <div class="divider divider-horizontal"></div>
            <button class="btn">Add Event</button>
        </div>
      </div>


    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of getDaysInMonth()">
            <th></th>
            <td *ngFor="let day of week">{{ day }}</td>
          </tr>

      </tbody>
    </table>



    <table>

      </table>
  </div>