
<div class='demo-app'>
  
  <div class="drawer lg:drawer-open">
    <input id="my-drawer" type="checkbox" class="drawer-toggle"  #drawerToggle/>
    <div class="drawer-content">
      <label for="my-drawer" class="btn btn-primary drawer-button lg:hidden w-full font-roboto">Filter</label>
      <!-- Page content here -->
      <div class='demo-app-main h-full'>

        <full-calendar class="font-karla" *ngIf='calendarVisible()' [options]='calendarOptions()'>
          <ng-template #eventContent let-arg  >
            <b>{{ arg.timeText }}</b>
            <i>{{ arg.event.title }}</i>
          </ng-template>
        </full-calendar>
      </div>
  
    </div>
    <div class="drawer-side z-20">
      <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
        <!-- Sidebar content here -->
        <button class="btn w-full no-animation font-karla">Refine by social club</button>
        <ul class="menu bg-base-200 w-full rounded-box font-roboto">
          <li><input type="checkbox" [checked]="allClubsChecked" (change)="allClubsChecked = !allClubsChecked; onAllClubsClick()" aria-label="All social clubs" class="btn w-full"/></li>
          <li *ngFor="let club of socialClubs; let i = index">
            <input type="checkbox" [checked]="otherCheckboxes[i]" (change)="otherCheckboxes[i] = !otherCheckboxes[i]; onOtherClubClick(i)" [attr.aria-label]="club.name" class="btn" />
          </li>
        </ul>  
        <div class="flex lg:hidden w-full">
          <button class="btn btn-outline font-roboto" (click)="drawerToggle.checked = false">Cancel</button>
          <button class="btn btn-outline btn-primary ml-28 font-roboto" (click)="drawerToggle.checked = false">Save</button>
         </div>
      </ul>
    </div>
  </div>

</div>

<div class="toast" *ngIf="isAPILoading">
  <div class="alert alert-info flex justify-center">
      <span class="loading loading-dots loading-md"></span>
  </div>
</div>


<div class="toast" *ngIf="showrsvpsuccessToast">
  <div class="alert alert-success font-roboto">
    <span>Succesfully Booked</span>
  </div>
  </div>
  
  <div class="toast" *ngIf="showrsvpfailToast">
  <div class="alert alert-error font-roboto">
    <span>Error Booking for event</span>
  </div>
  </div>
  <!-- <div class="toast" *ngIf="showunrsvpsuccessToast">
    <div class="alert alert-success">
      <span>Succesfully removed Booking</span>
    </div>
    </div>
    
    <div class="toast" *ngIf="showunrsvpfailToast">
    <div class="alert alert-error">
      <span>Error Removing Booking for event</span>
    </div>
    </div> -->