<div class="container mx-auto p-4">
  <div class="card w-full bg-base-100 shadow-2xl mb-4">
    <div class="card-body">      
      <!-- Tabs Section -->
      <div class="tabs">
        <a class="tab tab-bordered rounded-lg hover:bg-blue-200 hover:text-blue-800" [class.tab-active]="selectedTab === 'details'" (click)="selectTab('details')">My Details</a>
        <a class="tab tab-bordered rounded-lg hover:bg-blue-200 hover:text-blue-800" [class.tab-active]="selectedTab === 'security'" (click)="selectTab('security')">Security</a>
      </div>
    </div>
  </div>

  <!-- Details and Security Cards -->
  <div class="card w-full bg-base-100 shadow-2xl mb-4">
    <!-- Details Section -->
    <div class="card-body" [class.hidden]="selectedTab !== 'details'">
      <div class="details-section mb-4">
        <h3 class="text-lg font-bold mb-2">Details</h3>
        <!-- Avatar and Change Avatar Section -->
        <div class="mb-2 flex items-start">
          <!-- Avatar Image with Padding -->
          <div class="btn btn-ghost btn-circle avatar p-2" style="width: 80px; height: 80px;">
            <div class="w-full rounded-full">
              <img alt="Avatar" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" style="width: 100%; height: 100%;">
            </div>
          </div>
          <!-- File Input for Avatar -->
          <input
            type="file"
            id="avatar"
            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer focus:outline-none ml-2"
            (change)="onAvatarChange($event)"
          >
        </div>
        <!-- Name Input Field -->
        <input
          type="text"
          #nameInput
          placeholder="Name"
          class="input input-bordered w-full mb-2"
          (input)="name = nameInput.value"
        >
        <!-- Other Input Fields for Profile Details -->
        <input
          type="text"
          #surnameInput
          placeholder="Surname"
          class="input input-bordered w-full mb-2"
          (input)="surname = surnameInput.value"
        >
        <textarea
          #descriptionInput
          placeholder="Description"
          class="textarea textarea-bordered w-full mb-2"
          (input)="description = descriptionInput.value"
        ></textarea>
        <!-- Social Media Links -->
        <h3 class="text-lg font-bold mb-2">Social Media Links</h3>
        <input
          type="email"
          #emailInput
          placeholder="Change Email"
          class="input input-bordered w-full mb-2"
          (input)="email = emailInput.value"
        >
        <input
          type="text"
          #xInput
          placeholder="Change X"
          class="input input-bordered w-full mb-2"
          (input)="x = xInput.value"
        >
        <input
          type="text"
          #linkedInInput
          placeholder="Change LinkedIn"
          class="input input-bordered w-full mb-2"
          (input)="linkedIn = linkedInInput.value"
        >
        <input
          type="text"
          #gitHubInput
          placeholder="Change GitHub"
          class="input input-bordered w-full mb-4"
          (input)="gitHub = gitHubInput.value"
        >
        <!-- Save Changes Button -->
        <button class="btn btn-primary w-full" (click)="saveChanges()">Save changes</button>
      </div>
    </div>

    <!-- Security Section -->
    <div class="card-body" [class.hidden]="selectedTab !== 'security'">
      <div class="security-section mb-4">
        <h3 class="text-lg font-bold mb-2">Public Information</h3>
        <!-- Daisy UI Toggle for Make Contact Information -->
        <div class="flex items-center mb-2">
          <label class="flex items-center">
            <input type="checkbox" class="toggle toggle-primary" (click)="makeContactInfoPublic = !makeContactInfoPublic">
            <span class="ml-2 text-sm font-medium text-gray-700">Make Contact Information {{ makeContactInfoPublic ? 'Private' : 'Public' }}</span>
          </label>
        </div>
        <!-- Daisy UI Toggle for Make Screener -->
        <div class="flex items-center mb-4">
          <label class="flex items-center">
            <input type="checkbox" class="toggle toggle-primary" (click)="makeScreenerPublic = !makeScreenerPublic">
            <span class="ml-2 text-sm font-medium text-gray-700">Make Screener {{ makeScreenerPublic ? 'Private' : 'Public' }}</span>
          </label>
        </div>
        
        <!-- Change Password Section -->
        <h3 class="text-lg font-bold mb-2">Change Password</h3>
        <input
          type="password"
          #currentPasswordInput
          placeholder="Current Password"
          class="input input-bordered w-full mb-2"
          (input)="currentPassword = currentPasswordInput.value"
        >
        <input
          type="password"
          #newPasswordInput
          placeholder="New Password"
          class="input input-bordered w-full mb-2"
          (input)="newPassword = newPasswordInput.value"
        >
        <input
          type="password"
          #confirmPasswordInput
          placeholder="Re-enter New Password"
          class="input input-bordered w-full mb-4"
          (input)="confirmPassword = confirmPasswordInput.value"
        >
        <!-- Delete Account Button -->
        <h3 class="text-lg font-bold mb-2">Delete Profile</h3>
        <button class="btn btn-error mb-2 w-full" (click)="deleteAccount()">Delete Account</button>
        <!-- Save Changes Button -->
        <button class="btn btn-primary w-full" (click)="saveChanges()">Save changes</button>
      </div>
    </div>
  </div>
</div>
