<div class="container mx-auto p-4">
  <div class="card w-full bg-base-100 shadow-2xl mb-4">
    <div class="tabs tabs-boxed">
      <a class="tab text-secondary tab-bordered rounded-lg hover:bg-neutral" [class.tab-active]="selectedTab === 'details'" (click)="selectTab('details')">My Details</a>
      <a class="tab text-secondary tab-bordered rounded-lg hover:bg-neutral" [class.tab-active]="selectedTab === 'security'" (click)="selectTab('security')">Security</a>
    </div>
  </div>

  <!-- Details Section -->
  <div class="card w-full bg-base-100 shadow-2xl mb-4" [class.hidden]="selectedTab !== 'details'">
    <div class="card-body">
      <div class="details-section mb-4">
        <!-- Profile Details Card -->
        <div class="card bg-base-200 p-4 mb-4">
          <h3 class="text-lg font-bold mb-2 text-primary">Profile Details</h3>
          <div class="ml-4"> <!-- Indentation -->
            <div class="ml-4">
              <div class="mb-2 flex flex-col items-center relative">
                <div
                  class="btn btn-ghost btn-circle avatar p-2 relative"
                  style="width: 180px; height: 180px;"
                  (click)="fileInput.click()"
                >
                  <div class="w-full rounded-full relative">
                    <ng-container *ngIf="employeeData?.employeePictureLink; else initialsPlaceholder">
                      <img alt="Avatar" [src]="employeeData?.employeePictureLink" style="width: 100%; height: 100%;">
                    </ng-container>
                    <ng-template #initialsPlaceholder>
                      <div class="flex items-center justify-center bg-base-100 text-secondary rounded-full" style="width: 100%; height: 100%; font-size: 3rem;">
                        {{ getInitials() }}
                      </div>
                    </ng-template>                    <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 rounded-full">
                      <i class="fas fa-pencil-alt text-white text-xl"></i>
                    </div>
                  </div>
                </div>
                <input
                  type="file"
                  #fileInput
                  class="hidden"
                  (change)="onAvatarChange($event)"
                  accept="image/*"
                >
              </div>
              <!-- Centering the button -->
              <div class="flex justify-center mt-2 pb-4">
                <button
                  class="btn btn-error btn-sm"
                  (click)="removeProfilePicture()"
                >
                  Remove Profile Picture
                </button>
              </div>
            </div>

            <!-- Container for Name -->
            <div class="lg:ml-16 items-center justify-around lg:grid grid-cols-2 gap-4">
              <h3 class="text-xl mb-2">Name</h3>
              <input
                type="text"
                #nameInput
                [(ngModel)]="employeeData.firstName"
                placeholder="Name"
                class="input input-bordered w-full mb-2"
                (input)="name = nameInput.value"
              /> 
            </div>
            
            <!-- Container for Surname -->
            <div class="lg:ml-16 items-center justify-around lg:grid grid-cols-2 gap-4">
              <h3 class="text-xl mb-2">Surname</h3>
              <input
                type="text"
                #surnameInput
                [(ngModel)]="employeeData.lastName"
                placeholder="Surname"
                class="input input-bordered w-full mb-2"
                (input)="surname = surnameInput.value"
              >
            </div>
            
            <!-- Container for Bio -->
            <div class="lg:ml-16 items-center justify-around lg:grid grid-cols-2 gap-4">
              <h3 class="text-xl mb-2">Bio</h3>
              <textarea
                #descriptionInput
                [(ngModel)]="employeeData.employeeDescription"
                placeholder="Bio"
                class="textarea textarea-bordered w-full mb-2"
                (input)="description = descriptionInput.value"
              ></textarea>
            </div>
          </div>
        </div>
        
        <!-- Social Media Links Card -->
        <div class="card bg-base-200 p-4 mb-4">
          <h3 class="text-lg font-bold mb-2 text-primary">Social Media Links</h3>
          <div class="ml-4"> <!-- Indentation -->
            <div class="lg:ml-16 items-center justify-around lg:grid grid-cols-2 gap-4">
              <h3 class="text-xl mb-2">Gmail</h3>
              <input
                type="email"
                #emailInput
                [(ngModel)]="employeeData.email"
                placeholder="Email"
                class="input input-bordered w-full mb-2"
                (input)="email = emailInput.value"
              >
            </div>
            <div class="lg:ml-16 items-center justify-around lg:grid grid-cols-2 gap-4">
              <h3 class="text-xl mb-2">X</h3>
              <input
                type="text"
                #xInput
                [(ngModel)]="employeeData.twitter"
                placeholder="X"
                class="input input-bordered w-full mb-2"
                (input)="x = xInput.value"
              >
            </div>
            <div class="lg:ml-16 items-center justify-around lg:grid grid-cols-2 gap-4">
              <h3 class="text-xl mb-2">LinkedIn</h3>
              <input
                type="text"
                #linkedInInput
                [(ngModel)]="employeeData.linkedin"
                placeholder="LinkedIn"
                class="input input-bordered w-full mb-2"
                (input)="linkedIn = linkedInInput.value"
              >
            </div>
            <div class="lg:ml-16 items-center justify-around lg:grid grid-cols-2 gap-4">
              <h3 class="text-xl mb-2">Github</h3>
              <input
                type="text"
                #gitHubInput
                [(ngModel)]="employeeData.github"
                placeholder="Github"
                class="input input-bordered w-full mb-4"
                (input)="gitHub = gitHubInput.value"
              >
            </div>
          </div>
        </div>

        <!-- Save Changes Button (Right Aligned) -->
        <button class="btn btn-accent btn-sm ml-auto" (click)="saveChanges()">Save changes</button>
      </div>
    </div>
  </div>

  <!-- Security Section -->
  <div class="card w-full bg-base-100 shadow-2xl mb-4" [class.hidden]="selectedTab !== 'security'">
    <div class="card-body">
      <div class="security-section mb-4">
        <!-- Public Information Card -->
<div class="card bg-base-200 p-4 mb-4">
  <h3 class="text-lg font-bold text-primary mb-4">Public Information</h3>
  <div class=""> <!-- Indentation -->
    <div class="flex flex-col mb-4"> <!-- Flex column for stacking -->
      <label class="flex items-center mb-1"> <!-- Keep items-center for proper alignment -->
        <input type="checkbox" class="toggle toggle-accent" [checked]="makeContactInfoPrivate" (change)="toggleContactInfoPrivate()" />
        <span class="ml-2 text-sm font-medium text-gray-700">Make Contact Information Private</span>
      </label>
      <p *ngIf="!makeContactInfoPrivate" class="text-sm text-gray-500">Your contact information is currently visible to the public</p>
      <p *ngIf="makeContactInfoPrivate" class="text-sm text-gray-500">Your contact information is currently private</p>
    </div>
    <div class="flex flex-col mb-4"> <!-- Flex column for stacking -->
      <label class="flex items-center mb-1"> <!-- Keep items-center for proper alignment -->
        <input type="checkbox" class="toggle toggle-accent" [checked]="makeSurnamePrivate" (change)="toggleSurnamePrivate()" />
        <span class="ml-2 text-sm font-medium text-gray-700">Make Surname Private</span>
      </label>
      <!-- Move description directly under the toggle -->
      <p *ngIf="!makeSurnamePrivate" class="ml-8 text-sm text-gray-500">Your surname is currently visible to the public</p>
      <p *ngIf="makeSurnamePrivate" class="ml-8 text-sm text-gray-500">Your surname is currently private</p>
    </div>
  </div>
</div>



        
        <!-- Change Password Card -->
        <div class="card bg-base-200 p-4 mb-4">
          <h3 class="text-lg text-primary font-bold mb-2">Change Password</h3>
          <div class="ml-4"> <!-- Indentation -->
            <input
              type="password"
              #currentPasswordInput
              placeholder="Current Password"
              class="input input-bordered w-full mb-2"
              (input)="currentPassword = currentPasswordInput.value"
            >
            <input
              type="password"
              #newPasswordInput
              placeholder="New Password"
              class="input input-bordered w-full mb-2"
              (input)="newPassword = newPasswordInput.value"
            >
            <input
              type="password"
              #confirmPasswordInput
              placeholder="Re-enter New Password"
              class="input input-bordered w-full mb-4"
              (input)="confirmPassword = confirmPasswordInput.value"
            >
          </div>
        </div>

                <!-- Delete Profile Card -->
                <div class="card bg-base-200 p-4 mb-4">
                  <h3 class="text-lg font-bold text-primary mb-2">Delete Profile</h3>
                  <button class="btn btn-error btn-sm ml-auto" onClick="my_modal_2.showModal()">Delete Account</button>
                </div>
        
                <!-- Save Changes Button (Right Aligned) -->
                <button class="btn btn-accent btn-sm ml-auto" (click)="saveChanges()">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        
        <dialog id="my_modal_2" class="modal overflow-x-hidden backdrop-blur-sm">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Delete Account?</h3>
            <p class="py-4">Are you sure you want to delete this account?<br/> <span class="text-orange-300">This action is not reversible</span></p>
            <div class="modal-action">
              <!-- Close Modal Button -->
              <form method="dialog">
                <button class="btn btn-warning">Close</button>
              </form>
              <!-- Confirm Delete Account Button -->
              <form method="dialog">
                <button for="my_modal_2" (click)="deleteAccount()" class="btn btn-outline btn-error">Delete my account</button>
              </form>
            </div>
          </div>
          <label class="modal-backdrop" for="my_modal_2">Close</label>
        </dialog>
        
        <div class="toast" *ngIf="isAPILoading">
          <div class="alert alert-info flex justify-center">
              <span class="loading loading-dots loading-md"></span>
          </div>
        </div>
        
        <div class="toast" *ngIf="showchangesuccessToast">
          <div class="alert alert-success">
            <span>Changes saved</span>
          </div>
        </div>
          
        <div class="toast" *ngIf="showchangefailToast">
          <div class="alert alert-error">
            <span>Error saving changes</span>
          </div>
        </div>
        
        <div class="toast" *ngIf="showdeletesuccessToast">
          <div class="alert alert-success">
            <span>Account deleted. Redirecting...</span>
          </div>
        </div>
        
        <div class="toast" *ngIf="showdeletefailToast">
          <div class="alert alert-error">
            <span>Error deleting account</span>
          </div>
        </div>
        
