<div>
    <div >
      <div class="flex justify-center items-center">
        
        <div>
          
          <h1 class="lg:text-6xl text-4xl text-center mt-8">Let's Make sure</h1>

          <button class="btn w-[50px] -mt-12 lg:-ml-96 h-[30px] rounded-full"(click)="goBack()"><i class="fa-solid fa-arrow-left"></i></button>

          <div class="">
            <div class="label mt-4 flex justify-center">
              <span class="label-text text-lg">Enter the name of the event: {{myevent.title}}</span>
            </div>
            <input  #nameInput type="text" placeholder="Type here" class="input input-bordered w-full max-w-xl text-lg h-12" required/>
          </div>
          <div class="flex justify-between mt-4">
            <button class="btn  btn-warning">back</button>
            <button (click)="submit()" btn-outline class="btn btn-error">Delete event</button>
          </div>
        </div>
      </div>  
    </div>
    <div class="toast" *ngIf="isAPILoading">
        <div class="alert alert-info flex justify-center">
            <span class="loading loading-dots loading-md"></span>
        </div>
      </div>


    <div class="toast" *ngIf="showsuccessToast">
      <div class="alert alert-success">
        <span>Event succesfully Deleted</span>
      </div>
    </div>
  
    <div class="toast" *ngIf="showfailToast">
      <div class="alert alert-error">
        <span>error Deleting event</span>
      </div>
    </div>
    <!-- <button (click)="previousStep()" class="btn btn-warning" [disabled]="currentStep === 0">Back</button>
    <button (click)="nextStep()" class="btn btn-success">Next</button> -->
  </div>