<div class="container mx-auto p-6">
    <button class="btn w-[50px] -mt-12 lg:ml-8 h-[30px] rounded-full"(click)="goBack()"><i class="fa-solid fa-arrow-left"></i></button>

    <h1 class="text-3xl font-bold mb-4">PRIVACY POLICY</h1>
    <p class="text-sm mb-2">Last updated October 06, 2024</p>

    <p class="mb-4">
        This Privacy Notice for Bieber Fever ('we', 'us', or 'our'), describes how and why we might access, collect,
        store, use, and/or share ('process') your personal information when you use our services ('Services'), including
        when you:
    </p>

    <ul class="list-disc list-inside mb-4">
        <li>Visit our website at <a href="http://www.events-system.org"
                class="text-blue-500">http://www.events-system.org</a>, or any website of ours that links to this
            Privacy Notice</li>
        <li>Use The Entelect events system. The Event System aims to enhance awareness and engagement within the
            organization by providing employees with a centralized platform for viewing and RSVPing to events. The
            system will promote employee participation in social clubs, learning initiatives, and other events, leading
            to improved workplace morale and productivity</li>
        <li>Engage with us in other related ways, including any events or learning initiatives</li>
    </ul>

    <p class="mb-4">
        Questions or concerns? Reading this Privacy Notice will help you understand your privacy rights and choices. We
        are responsible for making decisions about how your personal information is processed. If you do
        not agree with our policies and practices, please do not use our Service. If you still have any questions or
        concerns, please contact us at <a href="mailto:Bieber.capstone@gmail.com"
            class="text-blue-500">Bieber.capstone&#64;gmail.com</a>.
    </p>

    <h2 class="text-2xl font-bold mb-4">SUMMARY OF KEY POINTS</h2>
    <p class="mb-4">
        This summary provides key points from our Privacy Notice, but you can find out more details about any of these
        topics by clicking the link following each key point or by using our table of contents below to find the section
        you are looking for.
    </p>

    <ul class="list-disc list-inside mb-4">
        <li><strong>What personal information do we process?</strong> When you visit, use, or navigate our Service, we
            may process personal information depending on how you interact with us and the Service, the choices you
            make, and the features you use. Learn more about personal information you disclose to us.</li>
        <li><strong>Do we process any sensitive personal information?</strong> Some of the information may be considered
            'special' or 'sensitive' in certain jurisdictions, for example your racial or ethnic origins, sexual
            orientation, and religious beliefs. <span class="underline">We do not process sensitive personal information.</span></li>
        <li><strong>Do we collect any information from third parties?</strong> We do not collect any information from
            third parties.</li>
        <li><strong>How do we process your information?</strong> We process your information to provide, improve, and
            administer our Services, communicate with you, for security and fraud prevention, and to comply with law. We
            may also process your information for other purposes with your consent. We process your information only
            when we have a valid legal reason to do so. Learn more about how we process your information.</li>
        <li><strong>In what situations and with which parties do we share personal information?</strong> We may share
            information in specific situations and with specific third parties. Learn more about when and with whom we
            share your personal information.</li>
        <li><strong>How do we keep your information safe?</strong> We have adequate organisational and technical
            processes and procedures in place to protect your personal information. However, no electronic transmission
            over the internet or information storage technology can be guaranteed to be 100% secure, so we cannot
            promise or guarantee that hackers, cybercriminals, or other unauthorised third parties will not be able to
            defeat our security and improperly collect, access, steal, or modify your information. Learn more about how
            we keep your information safe.</li>
        <li><strong>What are your rights?</strong> Depending on where you are located geographically, the applicable
            privacy law may mean you have certain rights regarding your personal information. Learn more about your
            privacy rights.</li>
        <li><strong>How do you exercise your rights?</strong> The easiest way to exercise your rights is by submitting a
            data subject access request, or by contacting us. We will consider and act upon any request in accordance
            with applicable data protection laws.</li>
        <li><strong>Want to learn more about what we do with any information we collect?</strong> Review the Privacy
            Notice in full.</li>
    </ul>

    <h2 class="text-2xl font-bold mb-4">TABLE OF CONTENTS</h2>
    <ol class="list-decimal list-inside mb-4">
        <li>WHAT INFORMATION DO WE COLLECT?</li>
        <li>HOW DO WE PROCESS YOUR INFORMATION?</li>
        <li>WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?</li>
        <li>DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</li>
        <li>HOW DO WE HANDLE YOUR SOCIAL LOGINS?</li>
        <li>HOW LONG DO WE KEEP YOUR INFORMATION?</li>
        <li>HOW DO WE KEEP YOUR INFORMATION SAFE?</li>
        <li>DO WE COLLECT INFORMATION FROM MINORS?</li>
        <li>WHAT ARE YOUR PRIVACY RIGHTS?</li>
        <li>CONTROLS FOR DO-NOT-TRACK FEATURES</li>
        <li>DO OTHER REGIONS HAVE SPECIFIC PRIVACY RIGHTS?</li>
        <li>DO WE MAKE UPDATES TO THIS NOTICE?</li>
        <li>HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</li>
        <li>HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?</li>
    </ol>

    <h2 class="text-2xl font-bold mb-4">1. WHAT INFORMATION DO WE COLLECT?</h2>
    <h3 class="text-xl font-bold mb-2">Personal information you disclose to us</h3>
    <p class="mb-4">
        <strong>In Short:</strong> We collect personal information that you provide to us.
    </p>
    <p class="mb-4">
        We collect personal information that you voluntarily provide to us when you register on the Service, express an
        interest in obtaining information about us or our features, when you participate in activities on
        the Service, or otherwise when you contact us.
    </p>
    <p class="mb-4">
        <strong>Personal Information Provided by You.</strong> The personal information that we collect depends on the
        context of your interactions with us and the Service, the choices you make, and the features you
        use. The personal information we collect may include the following:
    </p>
    <ul class="list-disc list-inside mb-4">
        <li>names</li>
        <li>email addresses</li>
        <li>usernames</li>
        <li>passwords</li>
    </ul>
    <p class="mb-4">
        <strong>Sensitive Information.</strong> We do not process sensitive information.
    </p>
    <p class="mb-4">
        <strong>Social Media Login Data.</strong> We provide you with the option to register with us using your
        existing social media account details, like your Google account. If you choose to
        register in this way, we will collect certain profile information about you from the social media provider, as
        described in the section called 'HOW DO WE HANDLE YOUR SOCIAL LOGINS?' below.
    </p>
    <p class="mb-4">
        All personal information that you provide to us must be true, complete, and accurate, and you must notify us of
        any changes to such personal information.
    </p>
    <p class="mb-4">
        Google API
    </p>
    <p class="mb-4">
        Our use of information received from Google APIs will adhere to Google API Services User Data Policy, including
        the Limited Use requirements.
    </p>

    <h2 class="text-2xl font-bold mb-4">2. HOW DO WE PROCESS YOUR INFORMATION?</h2>
    <p class="mb-4">
        <strong>In Short:</strong> We process your information to provide, improve, and administer our Service,
        communicate with you, for security and fraud prevention, and to comply with law. We may also process your
        information for other purposes with your consent.
    </p>
    <p class="mb-4">
        We process your personal information for a variety of reasons, depending on how you interact with our Services,
        including:
    </p>
    <ul class="list-disc list-inside mb-4">
        <li>To facilitate account creation and authentication and otherwise manage user accounts. We may process your
            information so you can create and log in to your account, as well as keep your account in working order.
        </li>
    </ul>

    <h2 class="text-2xl font-bold mb-4">3. WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?</h2>
    <p class="mb-4">
        <strong>In Short:</strong> We may share information in specific situations described in this section and/or with
        the following third parties.
    </p>
    <p class="mb-4">
        We may need to share your personal information in the following situations:
    </p>
    <ul class="list-disc list-inside mb-4">
        <li><strong>Business Transfers.</strong> We may share or transfer your information in connection with, or during
            negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our
            business to another company.</li>
        <li><strong>When we use Google Maps Platform APIs.</strong> We may share your information with certain Google
            Maps Platform APIs (e.g. Google Maps API, Places API). Google Maps uses GPS, Wi-Fi, and cell towers to
            estimate your location. GPS is accurate to about 20 meters, while Wi-Fi and cell towers help improve
            accuracy when GPS signals are weak, like indoors. This data helps Google Maps provide directions, but it is
            not always perfectly precise. We obtain and store on your device ('cache') your location. You may revoke
            your consent anytime by contacting us at the contact details provided at the end of this document.</li>
    </ul>

    <h2 class="text-2xl font-bold mb-4">4. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</h2>
    <p class="mb-4">
        <strong>In Short:</strong> We do not make use of cookies or other tracking technologies.
    </p>

    <h2 class="text-2xl font-bold mb-4">5. HOW DO WE HANDLE YOUR SOCIAL LOGINS?</h2>
    <p class="mb-4">
        <strong>In Short:</strong> If you choose to register or log in to our Services using a social media account, we
        may have access to certain information about you.
    </p>
    <p class="mb-4">
        Our Service offers you the ability to register and log in using your third-party social media account details
        (like your google account). Where you choose to do this, we will receive certain profile information about
        you from your social media provider. The profile information we receive may vary depending on the social media
        provider concerned, but will often include your name, email address, friends list, and profile picture, as well
        as other information you choose to make public on such a social media platform.
    </p>
    <p class="mb-4">
        We will use the information we receive only for the purposes that are described in this Privacy Notice or that
        are otherwise made clear to you on the relevant Services. Please note that we do not control, and are not
        responsible for, other uses of your personal information by your third-party social media provider. We recommend
        that you review their privacy notice to understand how they collect, use, and share your personal information,
        and how you can set your privacy preferences on their sites and apps.
    </p>

    <h2 class="text-2xl font-bold mb-4">6. HOW LONG DO WE KEEP YOUR INFORMATION?</h2>
    <p class="mb-4">
        <strong>In Short:</strong> We keep your information for as long as necessary to fulfil the purposes outlined in
        this Privacy Notice unless otherwise required by law.
    </p>
    <p class="mb-4">
        We will only keep your personal information for as long as it is necessary for the purposes set out in this
        Privacy Notice, unless a longer retention period is required or permitted by law (such as tax, accounting, or
        other legal requirements). No purpose in this notice will require us keeping your personal information for
        longer than the period of time in which users have an account with us.
    </p>
    <p class="mb-4">
        When we have no ongoing legitimate business need to process your personal information, we will either delete or
        anonymise such information, or, if this is not possible (for example, because your personal information has been
        stored in backup archives), then we will securely store your personal information and isolate it from any
        further processing until deletion is possible.
    </p>

    <h2 class="text-2xl font-bold mb-4">7. HOW DO WE KEEP YOUR YOUR INFORMATION SAFE?</h2>
    <p class="mb-4">
        <strong>In Short:</strong> We aim to protect your personal information through a system of organisational and
        technical security measures.
    </p>
    <p class="mb-4">
        We have implemented appropriate and reasonable technical and organisational security measures designed to
        protect the security of any personal information we process. However, despite our safeguards and efforts to
        secure your information, no electronic transmission over the Internet or information storage technology can be
        guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other
        unauthorised third parties will not be able to defeat our security and improperly collect, access, steal, or
        modify your information. Although we will do our best to protect your personal information, transmission of
        personal information to and from our Services is at your own risk. You should only access the Services within a
        secure environment.
    </p>

    <h2 class="text-2xl font-bold mb-4">8. DO WE COLLECT INFORMATION FROM MINORS?</h2>
    <p class="mb-4">
        <strong>In Short:</strong> We do not knowingly collect data from or market to children under 18 years of age.
    </p>
    <p class="mb-4">
        nor do we knowingly sell such personal information. By using the Services, you represent that you are at least
        18 or that you are the parent or guardian of such a minor and consent to such minor dependents use of the
        Services. If we learn that personal information from users less than 18 years of age has been collected, we will
        deactivate the account and take reasonable measures to promptly delete such data from our records. If you become
        aware of any data we may have collected from children under age 18, please contact us at
        Bieber.capstone&#64;gmail.com.
    </p>
    <h2 class="text-2xl font-bold mb-4">9. WHAT ARE YOUR PRIVACY RIGHTS?</h2>
    <p class="mb-4">
        <strong>In Short:</strong> You may review, change, or terminate your account at any time, depending on your country, province, or state of residence.

    </p>
    <p class="mb-4">
        Withdrawing your consent: If we are relying on your consent to process your personal information, which may be
        express and/or implied consent depending on the applicable law, you have the right to withdraw your consent at any
        time. You can withdraw your consent at any time by contacting us by using the contact details provided in the
        section 'HOW CAN YOU CONTACT US ABOUT THIS NOTICE?' below.
    
        However, please note that this will not affect the lawfulness of the processing before its withdrawal nor, when
        applicable law allows, will it affect the processing of your personal information conducted in reliance on lawful
        processing grounds other than consent.
        
        Account Information
        If you would at any time like to review or change the information in your account or terminate your account, you can:
        Log in to your account settings and update your user account.
        Upon your request to terminate your account, we will deactivate or delete your account and information from our active
        databases. However, we may retain some information in our files to prevent fraud, troubleshoot problems, assist with any
        investigations, enforce our legal terms and/or comply with applicable legal requirements.

        Cookies and similar technologies: Most Web browsers are set to accept cookies by default. If you prefer, you can usually
        choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject cookies,
        this could affect certain features or services of our Services.

        If you have questions or comments about your privacy rights, you may email us at Bieber.capstone&#64;gmail.com.
    </p>
    <h2 class="text-2xl font-bold mb-4">10. CONTROLS FOR DO-NOT-TRACK FEATURES </h2>
    <p class="mb-4">
        Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track ('DNT') feature
        or setting you can activate to signal your privacy preference not to have data about your online browsing activities
        monitored and collected. At this stage, no uniform technology standard for recognising and implementing DNT signals
        has been finalised. As such, we do not currently respond to DNT browser signals or any other mechanism that
        automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that
        we must follow in the future, we will inform you about that practice in a revised version of this Privacy Notice.
    </p>
    <h2 class="text-2xl font-bold mb-4">11. DO OTHER REGIONS HAVE SPECIFIC PRIVACY RIGHTS? </h2>
    <p class="mb-4">
        <strong>In Short:</strong> You may have additional rights based on the country you reside in.
    </p>
    <p class="mb-4">
        Republic of South Africa
    
        At any time, you have the right to request access to or correction of your personal information. You can make such a
        request by contacting us by using the contact details provided in the section 'HOW CAN YOU REVIEW, UPDATE, OR DELETE
        THE DATA WE COLLECT FROM YOU?'
    
        If you are unsatisfied with the manner in which we address any complaint with regard to our processing of personal
        information, you can contact the office of the regulator, the details of which are:
    
        The Information Regulator (South Africa)
        General enquiries: enquiries&#64;inforegulator.org.za
        Complaints (complete POPIA/PAIA form 5): PAIAComplaints&#64;inforegulator.org.za &
        POPIAComplaints&#64;inforegulator.org.za
    </p>
    <h2 class="text-2xl font-bold mb-4">12. DO WE MAKE UPDATES TO THIS NOTICE? </h2>
    <p class="mb-4">
        <strong>In Short:</strong> Yes, we will update this notice as necessary to stay compliant with relevant laws.
    </p>
    <p class="mb-4">
        We may update this Privacy Notice from time to time. The updated version will be indicated by an updated 'Revised'
        date at the top of this Privacy Notice. If we make material changes to this Privacy Notice, we may notify you either
        by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to
        review this Privacy Notice frequently to be informed of how we are protecting your information.
    </p>
    <h2 class="text-2xl font-bold mb-4">13. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</h2>
    <p class="mb-4">
        <strong>If you have questions or comments about this notice, you may email us at Bieber.capstone&#64;gmail.com</strong>
    </p>
    <h2 class="text-2xl font-bold mb-4">14. HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?</h2>
    <p class="mb-4">
        Based on the applicable laws of your country, you may have the right to request access to the personal information
        we collect from you, details about how we have processed it, correct inaccuracies, or delete your personal
        information. You may also have the right to withdraw your consent to our processing of your personal information.
        These rights may be limited in some circumstances by applicable law. To request to review, update, or delete your
        personal information, please fill out and submit a data subject access request.
    </p>