/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-teal/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import 'tailwindcss/base' layer(tailwindcss);
@import 'tailwindcss/components' layer(tailwindcss);
@import 'tailwindcss/utilities' layer(tailwindcss);

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0b2c46;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0B3A46;
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #45474C;
    border-radius: 12px;
  }
  
