<div>
    <div >
      <div class="flex justify-center items-center">
        
        <div>
          
          <h1 class="lg:text-6xl text-4xl text-center mt-8">Let's Make some changes!</h1>
          <button class="btn w-[50px] -mt-12 lg:-ml-96 h-[30px] rounded-full"(click)="goBack()"><i class="fa-solid fa-arrow-left"></i></button>

          <div class="mx-auto w-1/2">
            <div class="label mt-4 flex justify-center">
              <span class="label-text">Title</span>
            </div>
            <input  #nameInput type="text" placeholder="Type here" class="input input-bordered w-full max-w-xl text-lg h-12"  oninput="sessionStorage.setItem('uName', this.value)"/>
          </div>
  
          <div class="label mt-4 flex justify-center">
            <span class="label-text">Description</span>
          </div>
          <textarea  #descriptionInput class="textarea textarea-bordered w-full h-44" placeholder="Bio" oninput="sessionStorage.setItem('uDescription', this.value)"></textarea>    
          <div class="flex justify-evenly">
            <div>
              <div class="label mt-4">
                <span class="label-text">Start Time</span>
              </div>
              <input #StartTimeInput type="time" class="input input-bordered lg:w-96 " oninput="sessionStorage.setItem('uStartTime', this.value)">
            </div>
            <div class="mt-7 lg:ml-8">
              -
            </div>
            <div>
              <div class="label mt-4 lg:ml-8">
                <span class="label-text">End Time</span>
              </div>
              <input #EndTimeInput type="time" class="input input-bordered lg:w-96 lg:ml-8"  oninput="sessionStorage.setItem('uEndTime', this.value)">
            </div>
  
          </div>
          <div class="flex justify-evenly">
            <div>
              <div class="label mt-4">
                <span  class="label-text">Start Date</span>
              </div>
              <input #StartDateInput type="date" class="input input-bordered lg:w-96"  oninput="sessionStorage.setItem('uStartDate', this.value)">
            </div>
            <div class="mt-7 lg:ml-8">
              -
            </div>
            <div>
              <div class="label mt-4 lg:ml-8">
                <span  class="label-text">End Date</span>
              </div>
              <input #EndDateInput type="date" class="input input-bordered lg:w-96 lg:ml-8"  oninput="sessionStorage.setItem('uEndDate', this.value)">
            </div>
          </div>
          <div class="flex justify-evenly lg:flex-row flex-col lg:ml-[0.8rem]">
            <!-- Add this input field for location -->
            <div>
              <div class="label mt-4 lg:-ml-4  flex justify-center" htmlFor="location">
                <span class="label-text font-roboto">Location</span>
              </div>
              <input #LocationInput type="text" id="location" placeholder="Enter your location" class="input input-bordered w-96 max-w-md lg:-ml-4 font-roboto"
              [(ngModel)]="location" (ngModelChange)="updateMarkerPosition($event)" 
                     onkeyup="sessionStorage.setItem('uLocation', this.value)"
              />
            </div>
  
            <div>
              <div class="label mt-4 lg:ml-16  flex justify-center">
                <span class="label-text font-roboto">Social club</span>
              </div>
              <select #SocialClubInput placeholder="Social club" class="select select-bordered w-96 max-w-md lg:ml-16 font-roboto" [(ngModel)]="selectedSocialClubId" (change)="onSocialClubChange($event)">
                <option disabled>Select a social club</option>
                <option *ngFor="let club of socialClubs" [value]="club.id">{{ club.name }}</option>
              </select>
            </div>
  
          </div>
          <div>
            <div class="flex flex-col lg:flex-row justify-evenly items-start">
              <div>
                <div class="label mt-4  text-center">
                  <span class="label-text">Preparation Details</span>
                </div>
                <form [formGroup]="prepform">
                  <div formArrayName="prepinputs">
                    <div *ngFor="let input of prepinputs.controls; index as i" [@fadeIn] class="flex">
                      <input [formControlName]="i" class="input input-bordered w-full mt-4"  (blur)="saveInputs()">
                      <button (click)="removeprepInput(i)" class="btn btn-outline btn-warning mt-4 ml-2 opacity-35">-</button>
                    </div>
                  </div>
                  <button [disabled]="prepinputs.length === 5" (click)="addprepInput()" class="btn btn-accent btn-outline btn-wide mt-4">+</button>
                  <!-- <button (click)="saveInputs()">Next</button> -->
                </form>
              </div>
              <div class="mt-7 ml-8">
              </div>
              <div>
                <div class="label  mt-4">
                  <span class="label-text">Agenda Details</span>
                </div>
                <form [formGroup]="agendaform">
                  <div formArrayName="agendainputs">
                    <div *ngFor="let input of agendainputs.controls; index as i" [@fadeIn] class="flex">
                      <input [formControlName]="i"  class="input input-bordered w-full mt-4"  (blur)="saveInputs()">
                      <button (click)="removeagendaInput(i)" class="btn btn-outline btn-warning mt-4 ml-2 opacity-35">-</button>
                    </div>
                  </div>
                  <button [disabled]="agendainputs.length === 5" (click)="addagendaInput()" class="btn btn-accent btn-outline btn-wide mt-4">+</button>
                  <!-- <button (click)="saveInputs()">Next</button> -->
                </form>
              </div>
            </div>  
          </div>
          <div class="flex items-center justify-center">
            <div class="label mt-4">
              <span class="label-text">Dietary accomodations</span>
            </div>
          </div>
          <div class="flex items-center justify-center mt-4">
            <!-- <button class="btn" [ngClass]="{'btn-outline': isVegetarianSelected}" (click)="toggleVegetarian()">Vegetarian</button>
            <button class="btn lg:ml-8" [ngClass]="{'btn-outline': isVeganSelected}" (click)="toggleVegan()">Vegan</button>
            <button class="btn lg:ml-8" [ngClass]="{'btn-outline': isHalalSelected}" (click)="toggleHalal()">Halal</button>
            <button class="btn lg:ml-8" [ngClass]="{'btn-outline': isGlutenFreeSelected}" (click)="toggleGlutenFree()">Gluten-free</button> -->

            <button class="btn" [ngClass]="{'btn-outline': isVegetarianSelected}" (click)="toggleVegetarian()">Vegetarian</button>
            <button class="btn lg:ml-8" [ngClass]="{'btn-outline': isVeganSelected}" (click)="toggleVegan()">Vegan</button>
            <button class="btn lg:ml-8" [ngClass]="{'btn-outline': isHalalSelected}" (click)="toggleHalal()">Halal</button>
            <button class="btn lg:ml-8" [ngClass]="{'btn-outline': isGlutenFreeSelected}" (click)="toggleGlutenFree()">Gluten-free</button>
            </div>

            <div class="flex justify-center">
              <div>
                <div class="label mt-4 flex justify-center">
                  <span class="label-text font-roboto">Tags</span>
                </div>
                <div class="tag-input-area">
                  <input [(ngModel)]="newTag" type="text" class="input input-bordered w-96 max-w-md lg:-ml-4 font-roboto" placeholder="Enter a tag" />
                  <button (click)="addTag()" class="btn btn-outline btn-accent mt-4 ml-2" [disabled]="tags.length >= 5">+</button>
                </div>
                <div class="tags mt-2 grid grid-cols-3 gap-0 gap-x-0">
                  <button *ngFor="let tag of tags; let i = index"
                          (click)="removeTag(i)"
                          class="badge badge-neutral cursor-pointer hover:badge-error relative">
                    {{ tag }}
                    <span class="absolute top-0 right-0 mt-1 mr-1 text-xs hidden group-hover:inline">-</span>
                  </button>
                </div>
              </div>
            </div>

            <div class="map mt-8" *ngIf="isAPILoaded">
              <google-map height="24rem" width="100%" [options]="mapOptions">
                <map-marker [position]="markerPosition"></map-marker>
              </google-map>
              <!-- Add this button where you want it to appear, for example, after the location input -->
            <div class="flex justify-center mt-4">
              <button (click)="openInMaps()" class="btn btn-outline btn-primary font-roboto">
                Open in Maps
              </button>
            </div>
          <div class="flex justify-between mt-4">
            <button class="btn btn-outline btn-warning" (click)="goBack()">back</button>
            <button (click)="presubmit()" class="btn btn-success">Update event</button>
          </div>
          
        </div>
      </div>  
    </div>
    <div class="toast" *ngIf="isAPILoading">
        <div class="alert alert-info flex justify-center">
            <span class="loading loading-dots loading-md"></span>
        </div>
      </div>


    <div class="toast" *ngIf="showsuccessToast">
      <div class="alert alert-success">
        <span>Event succesfully updated Redirecting...</span>
      </div>
    </div>
  
    <div class="toast" *ngIf="showfailToast">
      <div class="alert alert-error">
        <span>error updating event</span>
      </div>
    </div>
    <!-- <button (click)="previousStep()" class="btn btn-warning" [disabled]="currentStep === 0">Back</button>
    <button (click)="nextStep()" class="btn btn-success">Next</button> -->
  </div>